<%= f.InputTag("Firstname") %>
<%= f.InputTag("Lastname") %>
<%= f.InputTag("Address") %>
<%= f.InputTag("City") %>
<%= f.InputTag("Country") %>
<script>
$('input[name="City"]').autoComplete({
    minChars: 1,
    source: function(term, response){
        $.getJSON('/suggestions/discoverer_city', { q: term }, function(data){ response(data); });
    }
});
$('input[name="Country"]').autoComplete({
    minChars: 1,
    source: function(term, response){
        $.getJSON('/suggestions/discoverer_country', { q: term }, function(data){ response(data); });
    }
});
</script>
<%= f.InputTag("Login") %>
<%= f.InputTag("Phone") %>
<%= f.TextAreaTag("Note", {rows: 10}) %>
<button class="btn btn-success" role="submit">Save</button>
