<div class="py-4 mb-2">
  <h3 class="d-inline-block">Discoverers</h3>
  <div class="float-right">
    <%= linkTo(newDiscoverersPath(), {class: "btn btn-primary"}) { %>
      Create New Discoverer
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Firstname</th><th>Lastname</th><th>Address</th><th>City</th><th>Country</th><th>Login</th><th>Phone</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (discoverer) in discoverers { %>
      <tr>
        <td class="align-middle"><%= discoverer.Firstname %></td><td class="align-middle"><%= discoverer.Lastname %></td><td class="align-middle"><%= discoverer.Address %></td><td class="align-middle"><%= discoverer.City %></td><td class="align-middle"><%= discoverer.Country %></td><td class="align-middle"><%= discoverer.Login %></td><td class="align-middle"><%= discoverer.Phone %></td>
        <td>
          <div class="float-right">
            <%= linkTo(discovererPath({ discoverer_id: discoverer.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editDiscovererPath({ discoverer_id: discoverer.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <%= if (current_user.Admin) {%>
            <%= linkTo(discovererPath({ discoverer_id: discoverer.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
