<div class="py-4 mb-2">
  <h3 class="d-inline-block">Découvreurs</h3>
  <div class="float-right">
    <%= linkTo(newDiscoverersPath(), {class: "btn btn-primary"}) { %>
      Créer un nouveau découvreur
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Prénom</th><th>Nom</th><th>Adresse</th><th>Ville</th><th>Pays</th><th>Login</th><th>Téléphone</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (discoverer) in discoverers { %>
      <tr>
        <td class="align-middle"><%= discoverer.Firstname %></td><td class="align-middle"><%= discoverer.Lastname %></td><td class="align-middle"><%= discoverer.Address %></td><td class="align-middle"><%= discoverer.City %></td><td class="align-middle"><%= discoverer.Country %></td><td class="align-middle"><%= discoverer.Email %></td><td class="align-middle"><%= discoverer.Phone %></td>
        <td>
          <div class="float-right">
            <%= linkTo(discovererPath({ discoverer_id: discoverer.ID }), {class: "btn btn-info", title: "Voir", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editDiscovererPath({ discoverer_id: discoverer.ID }), {class: "btn btn-warning", title: "Modifier", body: "<i class='fa fa-edit'></i>"}) %>
            <%= if (current_user.Admin) {%>
            <%= linkTo("/discoverers/" + discoverer.ID + "/delete", {class: "btn btn-danger", title: "Supprimer", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>