<div class="py-4 mb-2"><h3 class="d-inline-block">Vertalingen</h3></div>
<form method="GET" action="/translations" class="form-inline mb-3">
  <input class="form-control mr-2" type="search" name="q" value="<%= translationSearch %>" placeholder="Zoek in Frans of vertaling">
  <button class="btn btn-primary" type="submit">Zoeken</button>
</form>
<table class="table table-hover table-bordered"><thead><tr><th>Tabel</th><th>Veld</th><th>Frans/basis</th><th>Taal</th><th>Vertaling</th><th></th></tr></thead><tbody>
<%= for (row) in translations { %><tr><td><%= row.TableName %></td><td><%= row.Field %></td><td><%= row.BaseValue %></td><td><%= row.Locale %></td><td><%= row.Value %></td><td><div class="float-right"><%= linkTo(translationPath({ translation_id: row.ID }), {class: "btn btn-info", title: "Bekijken", body: "<i class='fa fa-eye'></i>"}) %> <%= linkTo(editTranslationPath({ translation_id: row.ID }), {class: "btn btn-warning", title: "Bewerken", body: "<i class='fa fa-edit'></i>"}) %> <%= linkTo(translationPath({ translation_id: row.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Weet u het zeker?", title: "Verwijderen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %></div></td></tr><% } %>
</tbody></table>
