<div class="py-4 mb-2">
  <h3 class="d-inline-block">Subsidiegroepen</h3>
  <div class="float-end">
    <%= linkTo(newSubsideGroupsPath(), {class: "btn btn-primary"}) { %>
      Nieuwe subsidiegroep aanmaken
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Groep</th><th>Grootte</th><th>Bedrag</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (subsideGroup) in subsideGroups { %>
      <tr>
        <td class="align-middle"><%= subsideGroup.ID %></td><td class="align-middle"><%= tname("subside_groups", subsideGroup.ID, subsideGroup.Group) %></td><td class="align-middle"><%= subsideGroup.Size %></td><td class="align-middle"><%= subsideGroup.Amount %></td>
        <td>
          <div class="float-end">
            <%= linkTo(subsideGroupPath({ subside_group_id: subsideGroup.ID }), {class: "btn btn-info", title: "Bekijken", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editSubsideGroupPath({ subside_group_id: subsideGroup.ID }), {class: "btn btn-warning", title: "Bewerken", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(subsideGroupPath({ subside_group_id: subsideGroup.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Weet u het zeker?", title: "Verwijderen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
