<div class="py-4 mb-2">
  <h3 class="d-inline-block">Konfiguration bearbeiten: <%= config.Name %></h3>
  <a href="/sync_configuration" class="btn btn-outline-primary btn-sm float-right mt-2">Synchronisation (Instanz-ID, Ereignisstrom &amp; Webhook)</a>
</div>

<%= formFor(config, {action: configPath({ config_id: config.ID }), method: "PUT"}) { %>
  <%= partial("config/identity_form.plush.de.html") %>
  <button class="btn btn-success" role="submit">Speichern</button>
  <%= linkTo("/config/" + config.ID, {class: "btn btn-warning", "data-confirm": "Sind Sie sicher?", body: "Abbrechen"}) %>
<% } %>
