<div class="py-4 mb-2">
  <h3 class="d-inline-block">Configuratie bewerken: <%= config.Name %></h3>
  <a href="/config/<%= config.ID %>/sync" class="btn btn-outline-primary btn-sm float-right mt-2">Synchronisatie (gebeurtenisstroom &amp; webhook)</a>
</div>

<%= formFor(config, {action: configPath({ config_id: config.ID }), method: "PUT"}) { %>
  <%= partial("config/identity_form.plush.nl.html") %>
  <button class="btn btn-success" role="submit">Opslaan</button>
  <%= linkTo("/config/" + config.ID, {class: "btn btn-warning", "data-confirm": "Weet u het zeker?", body: "Annuleren"}) %>
<% } %>
