<div class="py-4 mb-2">
  <h3 class="d-inline-block"><%= t("config.show.title", {name: config.Name}) %></h3>
</div>

<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td><%= t("config.show.instance-id") %></td>
      <td><%= config.InstanceID %></td>
    </tr>
    <tr>
      <td><%= t("config.show.name") %></td>
      <td><%= config.Name %></td>
    </tr>
    <tr>
      <td><%= t("config.show.description") %></td>
      <td><%= config.Description %></td>
    </tr>
    <tr>
      <td><%= t("config.show.active") %></td>
      <td><%= bool2html(config.Active) %></td>
    </tr>
    <tr class="table-info">
      <td colspan="2"><strong><%= t("config.show.event-stream") %></strong></td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-exchange-alt"></i> <%= t("config.show.event-stream") %>
        <br/><small class="text-muted"><%= t("config.show.event-stream-hint") %></small>
      </td>
      <td><%= bool2html(settings.EnableEventStream) %></td>
    </tr>
    <tr class="table-info">
      <td colspan="2"><strong><%= t("config.show.identity") %></strong>
        <br/><small class="text-muted"><%= t("config.show.identity-hint") %></small>
      </td>
    </tr>
    <tr>
      <td><%= t("config.show.center-name") %></td>
      <td><%= settings.CenterName %></td>
    </tr>
    <tr>
      <td><%= t("config.show.asbl-name") %></td>
      <td><%= settings.AsblName %></td>
    </tr>
    <tr>
      <td><%= t("config.show.bce-number") %></td>
      <td><%= settings.BceNumber %></td>
    </tr>
    <tr>
      <td><%= t("config.show.address") %></td>
      <td><%= settings.Address %></td>
    </tr>
    <tr>
      <td><%= t("config.show.account-number") %></td>
      <td><%= settings.AccountNumber %></td>
    </tr>
    <tr>
      <td><%= t("config.show.website") %></td>
      <td><%= settings.Website %></td>
    </tr>
    <tr>
      <td><%= t("config.show.created-at") %></td>
      <td><%= config.CreatedAt.Format("2006-01-02 15:04:05") %></td>
    </tr>
    <tr>
      <td><%= t("config.show.updated-at") %></td>
      <td><%= config.UpdatedAt.Format("2006-01-02 15:04:05") %></td>
    </tr>
  </tbody>
</table>

<div class="float-right">
  <%= linkTo("/sync_configuration", {class: "btn btn-outline-primary", body: t("config.show.sync-config")}) %>
  <%= linkTo(editConfigPath({ config_id: config.ID }), {class: "btn btn-warning", body: t("config.show.edit")}) %>
  <%= linkTo("/config", {class: "btn btn-info", body: t("config.show.back")}) %>
</div>
