<div class="py-4 mb-2">
  <h3 class="d-inline-block">Intakes</h3>
  <div class="float-right">
    <%= linkTo(newIntakesPath(), {class: "btn btn-primary"}) { %>
      Create New Intake
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (intake) in intakes { %>
      <tr>
        
        <td>
          <div class="float-right">
            <%= linkTo(intakePath({ intake_id: intake.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editIntakePath({ intake_id: intake.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= if (current_user.Admin) {%>
            <%= linkTo(intakePath({ intake_id: intake.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
            <% }%>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
