<div class="py-4 mb-2">
  <h3 class="d-inline-block">Nouveau TODO</h3>
</div>

<%= if (errors) { %>
  <div class="alert alert-danger"><%= errors %></div>
<% } %>

<form action="/todos" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>">
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" value="<%= todo.Description %>">
  </div>
  <div class="form-group">
    <label for="todo_date">Date</label>
    <input type="datetime-local" class="form-control" id="todo_date" name="todo_date" value="<%= todo.TodoDate.Format("2006-01-02T15:04") %>">
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <a class="btn btn-secondary" href="/todos">Annuler</a>
</form>
