<%= f.InputTag("AnimalID", {type:"hidden"})%>
<div class="">
  <h4 class="d-inline-block">Animal <%= treatment.AnimalID %></h4>
  <ul class="list-group mb-2 ">
    <li class="list-group-item pb-1">
      <label class="small d-block">Species</label>
      <%= if (treatment.Animal.Species) {%>
        <p class="d-inline-block"><%= treatment.Animal.Species %> (<%= treatment.Animal.Animaltype.Name %>)</p>
      <% } else {%>
        <p class="d-inline-block"><%= treatment.Animal.Species %> <%= treatment.Animal.Animaltype.Name %></p>
      <% }%>
    </li>
    <li class="list-group-item pb-1">
      <label class="small d-block">Weight in grams</label>
      <% let w = treatment.Animal.LastWeight() %>
      <%= if (w.Valid) { %>
        <p class="d-inline-block"><%= w %></p>
      <% } else {%>
        <p class="d-inline-block">unknown</p>
      <% }%>
    </li>
  </ul>
</div>

<script>
  const animalTypeID = "<%= treatment.Animal.AnimaltypeID %>";
  <%= if (w.Valid) { %>
  const weight = <%= w %>;
  <% } else {%>
  const weight = undefined;
  <% } %>
</script>


<label>Date</label>
<div class="input-group md-12">
    <input class=" form-control" id="date" name="Date" required="required" type="text" value="<%= treatment.DateFormated() %>"
    pattern="(?:19|20)[0-9]{2}/(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])/31))">
    <div class="input-group-append">
        <div class="input-group-text">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#date').flatpickr({
                dateFormat:'Y/m/d'
    });
</script>


<!-- Bitmap: <%= treatment.Timebitmap %> -->
<div class="form-group">
    <label><b>Required Schedule:</b></label>
    <br/>
    <label>
        <input class="" id="ScheduleRequiredMorning" name="ScheduleRequiredMorning" type="checkbox" value="true" 
        <%= if (treatment.ScheduleRequiredMorning()) { %>checked<% } %> /> Morning
    </label>
    <label>
        <input class="" id="ScheduleRequiredNoon" name="ScheduleRequiredNoon" type="checkbox" value="true" 
        <%= if (treatment.ScheduleRequiredNoon()) { %>checked<% } %> />Noon
    </label>
    <label>
        <input class="" id="ScheduleRequiredEvening" name="ScheduleRequiredEvening" type="checkbox" value="true"
        <%= if (treatment.ScheduleRequiredEvening()) { %>checked<% } %> />Evening   
    </label>
</div>

<!-- timedoneBitmap: <%= treatment.Timedonebitmap %> -->
<% 
    let morning = treatment.ScheduleStatusMorning() 
    let noon = treatment.ScheduleStatusNoon() 
    let evening = treatment.ScheduleStatusEvening()
%>
<div class="form-group">
    <label><b>Todo/done Schedule :</b></label>
    <br/>
    <label>
        <input class="" id="ScheduleStatusMorning" name="ScheduleStatusMorning" type="checkbox" value="true" 
        <%= if (morning.Bool) { %>checked<% } %> /> Morning
    </label>
    <label>
        <input class="" id="ScheduleStatusNoon" name="ScheduleStatusNoon" type="checkbox" value="true" 
        <%= if (noon.Bool) { %>checked<% } %> />Noon
    </label>
    <label>
        <input class="" id="ScheduleStatusEvening" name="ScheduleStatusEvening" type="checkbox" value="true"
        <%= if (evening.Bool) { %>checked<% } %> />Evening   
    </label>
</div>

<%= f.InputTag("Drug") %>
<script>
    $('input[name="Drug"]').autoComplete({
        minChars: 0,
        source: function(term, response){
            $.getJSON('/suggestions/treatment_drug', { q: term, at: animalTypeID, w: weight }, function(data){ response(data); });
        }
    });
</script>
<%= f.InputTag("Dosage") %>
<script>
    $('input[name="Dosage"]').autoComplete({
        minChars: 0,
        source: function(term, response){
            $.getJSON('/suggestions/treatment_drug_dosage', { q: $('input[name="Drug"]')[0].value, at: animalTypeID, w: weight }, function(data){ response(data); });
        }
    });
</script>
<%= f.TextAreaTag("Remarks", {rows: 10}) %>


<button class="btn btn-success" role="submit">Save</button>
