<div class="py-4 mb-2">
  <h3 class="d-inline-block">Treatments</h3>
  <div class="float-right">
    <%= linkTo(newTreatmentsPath(), {class: "btn btn-primary"}) { %>
      Create New Treatment
    <% } %>
  </div>
</div>

<% contentFor("eveningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="32.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
  <% } %>

  <% contentFor("morningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="14.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
  <% } %>

  <% contentFor("noonSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
    </g>
  <%}%>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Date</th>
    <th>AM-M-PM</th>
    <th>AnimalID</th>
    <th>Drug</th>
    <th>Dosage</th>
    <th>Remarks</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (treatment) in treatments { %>
      <% 
        let morning = treatment.ScheduleStatusMorning() 
        let noon = treatment.ScheduleStatusNoon() 
        let evening = treatment.ScheduleStatusEvening()
      %>
      <tr class="
      <%= if (treatment.IsToday()) {%>
        table-warning
      <% } else if (treatment.IsFuture()) { %>
        greyout
      <% } %>
      ">
        <td class="align-middle"><%= treatment.DateFormated() %></td>
        <td>
        <p class="d-inline-block" style="white-space: nowrap;">
      <%= if (!morning.Valid) { %>                          
        <i class="fas fa-minus" title="Not required on the morning"></i>
      <% } else if (morning.Bool) {%>
        <span style="color:green;" title="Done on the morning">
          <%= contentOf("morningSVG") %>
        </span>
      <% } else { %>
        <span style="color:red;" title="To do on the morning">
          <%= contentOf("morningSVG") %>
        </span>
      <% }%>
      
      &nbsp;

      <%= if (!noon.Valid) { %>
        <i class="fas fa-minus" title="Not required at noon"></i>
      <% } else if (noon.Bool) {%>
        <span style="color:green;" title="Done at noon">
          <%= contentOf("noonSVG") %>
        </span>
      <% } else { %>
        <span style="color:red;" title="To do at noon">
          <%= contentOf("noonSVG") %>
        </span>
      <% }%>

      &nbsp;

      <%= if (!evening.Valid) { %>
        <i class="fas fa-minus" title="Not required on the evening"></i>
      <% } else if (evening.Bool) {%>
        <span style="color:green;" title="Done in the evening">
          <%= contentOf("eveningSVG") %>
        </span>
      <% } else { %>
        <span style="color:red;" title="To do in the evening">
          <%= contentOf("eveningSVG") %>
        </span>
      <% }%>
    </p>
        </td>
        <td class="align-middle">
          <a class="btn btn-primary" href="/animals/<%= treatment.AnimalID %>#nav-treatment"><%= treatment.AnimalID %></a>
        </td>
        <td class="align-middle"><%= treatment.Drug %></td>
        <td class="align-middle"><%= treatment.Dosage %></td>
        <td class="align-middle"><%= treatment.Remarks %></td>
        <td>
          <div class="float-right">
            <%= linkTo(treatmentPath({ treatment_id: treatment.ID }), {class: "btn btn-info", title: "View", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editTreatmentPath({ treatment_id: treatment.ID }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(treatmentPath({ treatment_id: treatment.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
