/* greyout style */
.greyout {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    
    opacity: 0.4; /* Real browsers */
    filter: alpha(opacity = 40); /* MSIE */
}