<div class="py-4 mb-2">
  <h3 class="d-inline-block">Détails du statut indigène</h3>

  <div class="float-end">
    <%= linkTo(nativeStatusesPath(), {class: "btn btn-info"}) { %>
      Retour à tous les statuts indigènes
    <% } %>
    <%= linkTo(editNativeStatusPath({ native_status_id: nativeStatus.ID }), {class: "btn btn-warning", title: "Modifier", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(nativeStatusPath({ native_status_id: nativeStatus.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Êtes-vous sûr ?", title: "Supprimer", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= nativeStatus.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Statut</label>
    <p class="d-inline-block"><%= tname("native_statuses", nativeStatus.ID, nativeStatus.Status) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Indication</label>
    <p class="d-inline-block"><%= nativeStatus.Indication %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Relâchable</label>
    <p class="d-inline-block"><%= nativeStatus.Freeable %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Précision</label>
    <p class="d-inline-block"><%= nativeStatus.Precision %></p>
  </li>


</ul>
