<div class="py-4 mb-2">
  <h3 class="d-inline-block">Details zum einheimischen Status</h3>

  <div class="float-end">
    <%= linkTo(nativeStatusesPath(), {class: "btn btn-info"}) { %>
      Zurück zu allen einheimischen Status
    <% } %>
    <%= linkTo(editNativeStatusPath({ native_status_id: nativeStatus.ID }), {class: "btn btn-warning", body: "Bearbeiten"}) %>
    <%= linkTo(nativeStatusPath({ native_status_id: nativeStatus.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", body: "Löschen"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">ID</label>
    <p class="d-inline-block"><%= nativeStatus.ID %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Status</label>
    <p class="d-inline-block"><%= tname("native_statuses", nativeStatus.ID, nativeStatus.Status) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Indikation</label>
    <p class="d-inline-block"><%= nativeStatus.Indication %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Freilassbar</label>
    <p class="d-inline-block"><%= nativeStatus.Freeable %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Präzision</label>
    <p class="d-inline-block"><%= nativeStatus.Precision %></p>
  </li>


</ul>
