<div class="py-4 mb-2">
  <h3 class="d-inline-block">Synchronisatiedoel bewerken — <%= target.Name %></h3>
  <a href="/sync_configuration" class="btn btn-outline-primary btn-sm float-right mt-2">Terug naar synchronisatieconfiguratie</a>
</div>

<%= formFor(target, {action: "/sync_targets/" + target.ID, method: "PUT"}) { %>
  <%= partial("sync_targets/form.plush.nl.html") %>
  <button class="btn btn-success" role="submit">Opslaan</button>
  <%= linkTo("/sync_configuration", {class: "btn btn-warning", body: "Annuleren"}) %>
<% } %>
