<div class="py-4 mb-2">
  <h3 class="d-inline-block">Neues Synchronisationsziel</h3>
  <a href="/sync_configuration" class="btn btn-outline-primary btn-sm float-right mt-2">Zurück zur Synchronisationskonfiguration</a>
</div>
<p class="text-muted">Fügen Sie eine Creaves Console (Empfänger) hinzu, an die diese Instanz ihren Ereignisstrom sendet.</p>

<%= formFor(target, {action: "/sync_targets", method: "POST"}) { %>
  <%= partial("sync_targets/form.plush.de.html") %>
  <button class="btn btn-success" role="submit">Erstellen</button>
  <%= linkTo("/sync_configuration", {class: "btn btn-warning", body: "Abbrechen"}) %>
<% } %>
