<div class="py-4 mb-2">
  <h3 class="d-inline-block">Leeftijd details</h3>

  <div class="float-right">
    <%= linkTo(animalagesPath(), {class: "btn btn-info"}) { %>
      Terug naar alle leeftijden
    <% } %>
    <%= linkTo(editAnimalagePath({ animalage_id: animalage.ID }), {class: "btn btn-warning", title: "Bewerken", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(animalagePath({ animalage_id: animalage.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Weet u het zeker?", title: "Verwijderen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<%= formFor(animalage, {action: "/animalages/" + animalage.ID + "/remap", method: "POST", class: "mb-3"}) { %>
  <label for="replacement_id">Vervanging vóór verwijderen</label>
  <select id="replacement_id" name="replacement_id" class="form-control"><% for (replacement) in animalage_replacements { %><option value="<%= replacement.ID %>"><%= replacement.Name %></option><% } %></select>
  <button type="submit" class="btn btn-danger mt-2">Afhankelijkheden omzetten en verwijderen</button>
<% } %>
<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Naam</label>
    <p class="d-inline-block"><%= tname("animalages", animalage.ID, animalage.Name) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Omschrijving</label>
    <p class="d-inline-block"><%= tdesc("animalages", animalage.ID, animalage.Description) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Standaard</label>
    <p class="d-inline-block"><%= bool2html(animalage.Default) %></p>
  </li>


</ul>
