<div class="py-4 mb-2">
  <h3 class="d-inline-block">Alterdetails</h3>

  <div class="float-right">
    <%= linkTo(animalagesPath(), {class: "btn btn-info"}) { %>
      Zurück zu allen Altern
    <% } %>
    <%= linkTo(editAnimalagePath({ animalage_id: animalage.ID }), {class: "btn btn-warning", title: "Bearbeiten", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(animalagePath({ animalage_id: animalage.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "Löschen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= tname("animalages", animalage.ID, animalage.Name) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Beschreibung</label>
    <p class="d-inline-block"><%= tdesc("animalages", animalage.ID, animalage.Description) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Standard</label>
    <p class="d-inline-block"><%= bool2html(animalage.Default) %></p>
  </li>


</ul>
