<div class="py-4 mb-2">
  <h3 class="d-inline-block">Animaltypes</h3>
  <div class="float-right">
    <%= linkTo(newAnimaltypesPath(), {class: "btn btn-primary"}) { %>
      Create New Animaltype
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>Description</th>
    <th>Default</th>
    <th>Has identification</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (animaltype) in animaltypes { %>
      <tr>
        <td class="align-middle"><%= animaltype.Name %></td>
        <td class="align-middle"><%= animaltype.Description %></td>
        <td class="align-middle"><%= animaltype.Default %></td>
        <td class="align-middle"><%= animaltype.HasRing %></td>
        <td>
          <div class="float-right">
            <%= linkTo(animaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editAnimaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(animaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
