<div class="py-4 mb-2">
  <h3 class="d-inline-block">Animaltypes</h3>
  <div class="float-right">
    <%= linkTo(newAnimaltypesPath(), {class: "btn btn-primary"}) { %>
      Create New Animaltype
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>Description</th>
    <th>Default</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (animaltype) in animaltypes { %>
      <tr>
        <td class="align-middle"><%= animaltype.Name %></td>
        <td class="align-middle"><%= animaltype.Description %></td>
        <td class="align-middle"><%= animaltype.Default %></td>
        <td>
          <div class="float-right">
            <%= linkTo(animaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editAnimaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(animaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
