<div class="py-4 mb-2">
  <h3 class="d-inline-block">Animaltype Details</h3>

  <div class="float-right">
    <%= linkTo(animaltypesPath(), {class: "btn btn-info"}) { %>
      Back to all Animaltypes
    <% } %>
    <%= linkTo(editAnimaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(animaltypePath({ animaltype_id: animaltype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= animaltype.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= animaltype.Description %></p>
  </li>

  
  <li class="list-group-item pb-1">
    <label class="small d-block">Default</label>
    <p class="d-inline-block"><%= animaltype.Default %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Has identification</label>
    <p class="d-inline-block"><%= animaltype.HasRing %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Default Species</label>
    <p class="d-inline-block"><%= animaltype.DefaultSpecies %></p>
  </li>

</ul>
