<%= f.InputTag("Species", {label:"Species"}) %>
<%= f.InputTag("Class", {label:"Class"}) %>
<%= f.InputTag("Order", {label:"Order"}) %>
<%= f.InputTag("Family", {label:"Family"}) %>
<%= f.CheckboxTag("Game", {label:"Game"}) %>
<%= f.CheckboxTag("Huntable", {label:"Huntable"}) %>
<%= f.InputTag("CreavesSpecies", {label:"Creaves species"}) %>
<%= f.SelectTag("AnimaltypeID", {label: "Animal type", options: selectAnimalTypes, value: selectedAnimaltypeID}) %>
<%= f.SelectTag("NativeStatus", {label: "Native status", options: selectNativeStatuses, value: selectedNativeStatus}) %>
<%= f.InputTag("AgwGroup", {label: "CreavesGroup"}) %>
<%= f.InputTag("SubsideGroup", {label: "Subside"}) %>
<%= partial("translations/fields.html") %>
<button class="btn btn-success" role="submit">Save</button>
