<%= f.InputTag("Species", {label:"Soort"}) %>
<%= f.InputTag("Class", {label:"Klasse"}) %>
<%= f.InputTag("Order", {label:"Orde"}) %>
<%= f.InputTag("Family", {label:"Familie"}) %>
<%= f.CheckboxTag("Game", {label:"Wild"}) %>
<%= f.InputTag("CreavesSpecies", {label:"Creaves-soort"}) %>
<%= f.SelectTag("AnimaltypeID", {label: "Diergroep", options: selectAnimalTypes}) %>
<%= f.InputTag("CreavesGroup", {label:"Creaves-groep"}) %>
<%= f.InputTag("Subside", {label:"Subsidie"}) %>
<%= partial("translations/fields.html") %>
<button class="btn btn-success" role="submit">Opslaan</button>
