<%= f.InputTag("Species", {label:"Art"}) %>
<%= f.InputTag("Class", {label:"Klasse"}) %>
<%= f.InputTag("Order", {label:"Ordnung"}) %>
<%= f.InputTag("Family", {label:"Familie"}) %>
<%= f.CheckboxTag("Game", {label:"Wild"}) %>
<%= f.InputTag("CreavesSpecies", {label:"Creaves-Art"}) %>
<%= f.InputTag("CreavesGroup", {label:"Creaves-Gruppe"}) %>
<%= f.InputTag("Subside", {label:"Zuschuss"}) %>
<%= partial("translations/fields.html") %>
<button class="btn btn-success" role="submit">Speichern</button>
