<div class="py-4 mb-2">
  <h3 class="d-inline-block">Species</h3>
  <div class="float-end">
    <%= linkTo(newSpeciesPath(), {class: "btn btn-primary"}) { %>
      Create New Species
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Species</th><th>Class</th><th>Order</th><th>Family</th><th>Game</th><th>CreavesSpecies</th><th>CreavesGroup</th><th>Subside</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (species) in species { %>
      <tr>
        <td class="align-middle"><%= species.Species %></td>
        <td class="align-middle"><%= species.Class %></td>
        <td class="align-middle"><%= species.Order %></td>
        <td class="align-middle"><%= species.Family %></td>
        <td class="align-middle"><%= species.Game %></td>
        <td class="align-middle"><%= species.CreavesSpecies %></td>
        <td class="align-middle"><%= species.CreavesGroup %></td>
        <td class="align-middle"><%= species.Subside %></td>
        <td>
          <div class="float-end">
            <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-info", title: "View", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editSpeciesPath({ species_id: species.ID }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
