<div class="py-4 mb-2">
  <h3 class="d-inline-block">Espèces</h3>
  <div class="float-end">
    <%= linkTo(newSpeciesPath(), {class: "btn btn-primary"}) { %>
      Créer une nouvelle espèce
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Espèce</th><th>Classe</th><th>Ordre</th><th>Famille</th><th>Gibier</th><th>Espèce Creaves</th><th>Famille Creaves</th><th>Subside</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (species) in species { %>
      <tr>
      <td class="align-middle"><%= tfield("species", "species", species.ID, species.Species) %></td>
      <td class="align-middle"><%= tfield("species", "class", species.ID, species.Class) %></td>
      <td class="align-middle"><%= tfield("species", "order", species.ID, species.Order) %></td>
      <td class="align-middle"><%= tfield("species", "family", species.ID, species.Family) %></td>
      <td class="align-middle"><%= bool2html(species.Game) %></td>
      <td class="align-middle"><%= tfield("species", "creaves_species", species.ID, species.CreavesSpecies) %></td>
      <td class="align-middle"><%= tfield("species", "agw_group", species.ID, species.AgwGroup) %></td>
      <td class="align-middle"><%= tfield("species", "subside_group", species.ID, species.SubsideGroup) %></td>
        <td>
          <div class="float-end">
            <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-info", title: "voir", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editSpeciesPath({ species_id: species.ID }), {class: "btn btn-warning", title: "Éditer", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Etes-vpus sûr?", title: "Supprimer", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>