<div class="py-4 mb-2">
  <h3 class="d-inline-block">Artdetails</h3>

  <div class="float-end">
    <%= linkTo("/species", {class: "btn btn-info"}) { %>
      Zurück zu allen Arten
    <% } %>
    <%= linkTo(editSpeciesPath({ species_id: species.ID }), {class: "btn btn-warning", title: "Bearbeiten", body:"<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "Löschen", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Art</label>
    <p class="d-inline-block"><%= tfield("species", "species", species.ID, species.Species) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Klasse</label>
    <p class="d-inline-block"><%= tfield("species", "class", species.ID, species.Class) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Ordnung</label>
    <p class="d-inline-block"><%= tfield("species", "order", species.ID, species.Order) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Familie</label>
    <p class="d-inline-block"><%= tfield("species", "family", species.ID, species.Family) %></p>
  </li>


  <li class="list-group-item pb-1">
    <label class="small d-block">Wild</label>
    <p class="d-inline-block"><%= bool2html(species.Game) %></p>
  </li>


  <li class="list-group-item pb-1">
    <label class="small d-block">Creaves-Art</label>
    <p class="d-inline-block"><%= tfield("species", "creaves_species", species.ID, species.CreavesSpecies) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Creaves-Gruppe</label>
    <p class="d-inline-block"><%= tfield("species", "agw_group", species.ID, species.AgwGroup) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Zuschuss</label>
    <p class="d-inline-block"><%= tfield("species", "subside_group", species.ID, species.SubsideGroup) %></p>
  </li>


</ul>