<div class="py-4 mb-2">
  <h3 class="d-inline-block">Species Details</h3>

  <div class="float-end">
    <%= linkTo("/species", {class: "btn btn-info"}) { %>
      Back to all Species
    <% } %>
    <%= linkTo(editSpeciesPath({ species_id: species.ID }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(speciesPath({ species_id: species.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Species</label>
    <p class="d-inline-block"><%= tfield("species", "species", species.ID, species.Species) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Class</label>
    <p class="d-inline-block"><%= tfield("species", "class", species.ID, species.Class) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Order</label>
    <p class="d-inline-block"><%= tfield("species", "order", species.ID, species.Order) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Family</label>
    <p class="d-inline-block"><%= tfield("species", "family", species.ID, species.Family) %></p>
  </li>


  <li class="list-group-item pb-1">
    <label class="small d-block">Game</label>
    <p class="d-inline-block"><%= bool2html(species.Game) %></p>
  </li>


  <li class="list-group-item pb-1">
    <label class="small d-block">Animal type</label>
    <p class="d-inline-block"><%= tname("animaltypes", species.Animaltype.ID, species.Animaltype.Name) %></p>
  </li>

  <li class="list-group-item pb-1">
      <label class="small d-block">Animal type</label>
      <p class="d-inline-block"><%= tname("animaltypes", species.Animaltype.ID, species.Animaltype.Name) %></p>
    </li>

  <li class="list-group-item pb-1">
      <label class="small d-block">CreavesSpecies</label>
    <p class="d-inline-block"><%= tname("species", species.ID, species.CreavesSpecies) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">CreavesGroup</label>
    <p class="d-inline-block"><%= tfield("species", "agw_group", species.ID, species.AgwGroup) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Subside</label>
    <p class="d-inline-block"><%= tfield("species", "subside_group", species.ID, species.SubsideGroup) %></p>
  </li>


</ul>