
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
    <a class="nav-item nav-link" id="nav-discovery-tab" data-toggle="tab" href="#nav-discovery" role="tab" aria-controls="nav-discovery" aria-selected="false">Discovery</a>
    <a class="nav-item nav-link" id="nav-intake-tab" data-toggle="tab" href="#nav-intake" role="tab" aria-controls="nav-intake" aria-selected="false">Intake</a>
    <a class="nav-item nav-link" id="nav-care-tab" data-toggle="tab" href="#nav-care" role="tab" aria-controls="nav-care" aria-selected="false">Care</a>
    <a class="nav-item nav-link" id="nav-vet-tab" data-toggle="tab" href="#nav-vet" role="tab" aria-controls="nav-vet" aria-selected="false">Veterinary</a>
    <a class="nav-item nav-link" id="nav-treatment-tab" data-toggle="tab" href="#nav-treatment" role="tab" aria-controls="nav-treatment" aria-selected="false">Treatment</a>
    <%= if (animal.OuttakeID.Value() != nil ) {%>
      <a class="nav-item nav-link" id="nav-release-tab" data-toggle="tab" href="#nav-release" role="tab" aria-controls="nav-Release" aria-selected="false">Release</a>
    <% } %>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
    <div class="form-row">
        <div class="form-group col-md-12">
                <%= f.InputTag("Species", {required: "required"})%>
                <%= f.InputTag("Cage") %>
                <%= f.InputTag("Ring") %>
                <%= f.SelectTag("AnimalageID", {
                    label: "Age",
                    options: selectAnimalages, 
                    required:"required"}) %>

                <%= f.SelectTag("AnimaltypeID", {
                    label: "Type",
                    options: selectAnimalTypes, 
                    required:"required"}) %>
        </div>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-discovery" role="tabpanel" aria-labelledby="nav-discovery-tab">
    <div class="container p-3 my-3 border">
        <div class="form-row">
        <%= f.InputTag("Discovery.Location", {label:"Location", required: "required", bootstrap:{form-group-class:"form-group col-md-12"}}) %>
        </div>
        <div class="form-row">
        
        <div class="form-group col-md-12">
            <label>Date</label>
            <div class="input-group md-12">
                <input class=" form-control" id="discodate" name="Discovery.Date" required="required" type="text" value="<%= animal.Discovery.DateFormated() %>">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#discodate').datetimepicker({format:'Y/m/d H:i'});
        </script>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <h4>Discoverer</h4>
    
        <div class="form-row">  
        <%= f.InputTag("Discovery.Discoverer.Firstname", {required: "required", bootstrap:{form-group-class:"form-group col-md-6"}, label:"First Name"}) %>
        <%= f.InputTag("Discovery.Discoverer.Lastname", {required: "required", bootstrap:{form-group-class:"form-group col-md-6"}, label:"Last Name"}) %>
        </div>
        <div class="form-row">
        <%= f.InputTag("Discovery.Discoverer.Address", {required: "required", bootstrap:{form-group-class:"form-group col-md-12"}, label:"Address"}) %>
        </div>
        <div class="form-row">
        <%= f.InputTag("Discovery.Discoverer.City", {required: "required", bootstrap:{form-group-class:"form-group col-md-6"}, label:"City"}) %>
        <%= f.InputTag("Discovery.Discoverer.Country", {required: "required", bootstrap:{form-group-class:"form-group col-md-6"}, label:"Country"}) %>
        </div>
        <div class="form-row">
        <%= f.InputTag("Discovery.Discoverer.Email", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Email"}) %>
        <%= f.InputTag("Discovery.Discoverer.Phone", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Phone"}) %>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <h4>Details</h4> 
        <%= f.TextAreaTag("Discovery.Reason", {label:"Reason", rows: 10, class:"col-md-12"}) %>
        <a class="btn btn-primary" data-toggle="collapse" href="#DiscoveryNote" role="button" aria-expanded="false" aria-controls="collapseExample">
        Notes
        </a>
        <div class="collapse" id="DiscoveryNote">
            <div class="card card-body">
                <textarea class="form-control col-md-12" id="animal-Discovery.Note" name="Discovery.Note" rows="10"></textarea>
            </div>
        </div>
    </div>
    </div>  
  
   <div class="tab-pane fade" id="nav-intake" role="tabpanel" aria-labelledby="nav-intake-tab">
    <div class="form-row">
        <div class="form-group col-md-12">
        <div class="container p-3 my-3 border">

                <label>Date</label>
                <div class="input-group md-12">
                    <input class=" form-control" id="intakedate" name="Intake.Date" required="required" type="text" value="<%= animal.Intake.DateFormated() %>">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#intakedate').datetimepicker({format:'Y/m/d H:i'});
                </script>

                <%= f.TextAreaTag("Intake.General", {label:"General", required:"required", rows: 10}) %>

                <a class="btn btn-primary" data-toggle="collapse" href="#Wounds" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Wounds
                </a>
                <div class="collapse" id="Wounds">
                    <div class="card card-body">
                        <textarea class="form-control col-md-12" id="animal-Intake.Wounds" name="Intake.Wounds" rows="10"><%= animal.Intake.Wounds %></textarea>
                    </div>
                </div>

                <a class="btn btn-primary" data-toggle="collapse" href="#Parasites" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Parasites
                </a>
                <div class="collapse" id="Parasites">
                    <div class="card card-body">
                        <textarea  class="form-control col-md-12" id="animal-Intake.Parasites" name="Intake.Parasites" rows="10"><%= animal.Intake.Parasites %></textarea>
                    </div>
                </div>

                <a class="btn btn-primary" data-toggle="collapse" href="#Remarks" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Remarks
                </a>
                <div class="collapse" id="Remarks">
                    <div class="card card-body">
                        <textarea class="form-control col-md-12" id="animal-Intake.Remarks" name="Intake.Remarks" rows="10"><%= animal.Intake.Remarks %></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-care" role="tabpanel" aria-labelledby="nav-care-tab">
    <div class="container p-3 my-3 border">
    <%= f.TextAreaTag("Feeding", {label:"Feeding", rows: 2, class:"col-md-12"}) %>
    </div>
    <div class="py-4 mb-2">
      <div class="float-right">
        <%= linkTo(newCaresPath({animal_id: animal.ID, back: "/animals/"+animal.ID.String()+"/edit#nav-care"}), {class: "btn btn-primary"}) { %>
          Create New Care
        <% } %>
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <th>Date</th>
        <th>Weight</th>
        <th>Note</th>
        <th><i class="fa fa-soap" aria-hidden="true"></i></th>
        <th>Type</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <%= for (care) in animal.Cares { %>
          <tr>
            <td class="align-middle"><%= care.Date.DateFormated() %></td>
            <td class="align-middle"><%= care.Weight %></td>
            <td class="align-middle"><%= care.Note %></td>
            <td class="align-middle">
              <%= if (care.Clean) { %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% } %>
            </td>
            <td class="align-middle"><%= care.Type.Name %></td>
            <td>
              <div class="float-right">
                <%= linkTo(carePath({ care_id: care.ID, back: "/animals/"+animal.ID.String()+"/edit#nav-care" }), {class: "btn btn-info", title: "View", body:"<i class='fa fa-eye'></i>"}) %>
                <%= linkTo(editCarePath({ care_id: care.ID, back: "/animals/"+animal.ID.String()+"/edit#nav-care" }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
                <%= if (current_user.Admin) {%>
                <%= linkTo(carePath({ care_id: care.ID, back: "/animals/"+animal.ID.String()+"/edit#nav-care"}), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
                <% }%>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-vet" role="tabpanel" aria-labelledby="nav-vet-tab">
    <div class="py-4 mb-2">
      <h3 class="d-inline-block">Veterinary visits</h3>
      <div class="float-right">
        <%= linkTo(newVeterinaryvisitsPath({animal_id: animal.ID, back: "/animals/"+animal.ID.String()+"/edit#nav-vet" }), {class: "btn btn-primary"}) { %>
          Create New Veterinary visit
        <% } %>
      </div>
    </div>

    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <th>Date</th>
        <th>Veterinary</th>
        <th>User</th>
        <th>Diagnostic</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <%= for (veterinaryvisit) in animal.VetVisits{ %>
          <tr>
            <td class="align-middle"><%= veterinaryvisit.Date.Formated() %></td>
            <td class="align-middle"><%= veterinaryvisit.Veterinary %></td>
            <td class="align-middle"><%= veterinaryvisit.User.Email %></td>
            <td class="align-middle"><%= veterinaryvisit.Diagnostic %></td>
            <td>
              <div class="float-right">
                <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID,  back: "/animals/"+animal.ID.String()+"/edit#nav-vet" }), {class: "btn btn-info", title: "View", body:"<i class='fa fa-eye'></i>"}) %>
                <%= linkTo(editVeterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID,  back: "/animals/"+animal.ID.String()+"/edit#nav-vet" }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
                <%= if (current_user.Admin) {%>
                <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID,  back: "/animals/"+animal.ID.String()+"/edit#nav-vet" }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
                <%  }%>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-treatment" role="tabpanel" aria-labelledby="nav-treatment-tab">
      <h1>Treatment TBD</h1>
  </div>

  <%= if (animal.OuttakeID.Value() != nil) {%>
  <div class="tab-pane fade" id="nav-release" role="tabpanel" aria-labelledby="nav-release-tab">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Date</label>
            <div class="input-group md-12">
                <input class=" form-control" id="outtakeDate" name="Outtake.Date" required="required" type="text" value="<%= animal.Outtake.DateFormated() %>">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#outtakeDate').datetimepicker({format:'Y/m/d H:i'});
            </script>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <%= f.SelectTag("Outtake.TypeID", {
                label: "Type",
                options: selectOuttaketype, 
                required:"required"}) %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <%= f.InputTag("Outtake.Location") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
        <a class="btn btn-primary" data-toggle="collapse" href="#OuttakeNote" role="button" aria-expanded="false" aria-controls="collapseExample">
        Notes
        </a>
        <div class="collapse" id="OuttakeNote">
            <div class="card card-body">
                <textarea class="form-control col-md-12" id="Outtake.Note" name="Outtake.Note" rows="10"><%= animal.Outtake.Note %></textarea>
            </div>
        </div>
    </div>
    <br/>
  </div>
  <% } %>
</div>

<button class="btn btn-success" role="submit">Save</button>
<script>
$(".nav-tabs").find("a").first().click();

var url = document.URL;
var hash = url.substring(url.indexOf('#'));

$(".nav-tabs").find("a").each(function(key, val) {
  if (hash == $(val).attr('href')) {
    $(val).click();
  }
  $(val).click(function(ky, vl) {
    console.log($(this).attr('href'));
    location.hash = $(this).attr('href');
  });
});
</script>
