<div class="py-4 mb-2">
  <h3 class="d-inline-block">Animals</h3>
</div>

<div class="container p-3 my-3 border">
<form id="goto_animal">
  <div class="form-row">
    <div class="col-5">
      &nbsp;
    </div>
    <div class="col-2">
      <label for="goto_animalNumber" class="col-sm-2 col-form-label">Animal&nbsp;number</label>
    </div>
    <div class="col-4">
      <input name="animal_id" type="number" class="form-control" id="animal_id" placeholder="123" required>
      <script>
        $('input[name="animal_id"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Go</button>
    </div>
  </div>
</form>
</div>

<% contentFor("eveningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="32.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
<% } %>

<% contentFor("morningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="14.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
 <% } %>

 <% contentFor("noonSVG") { %>
        <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
    </g>
 <%}%>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Number</th>
    <th>Intake date</th>
    <th>Cage</th>
    <th>Type</th>
    <th>Species</th>
    <th>Age</th>
    <th>Identification</th>
    <th>Treatments</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (animal) in animals { %>
      <%= if (animal.OuttakeID.Value() != nil) { %>
      <tr class="outtaken">
      <% } else { %>
      <tr>
      <% } %>
        <td class="align-middle">
          <a class="btn btn-primary" href="/animals/<%= animal.ID %>"><%=animal.Year%>-<%=animal.YearNumber%> (<%= animal.ID %>)</a>
        </td>
        
        <td class="align-middle"><%= animal.Intake.DateFormated() %></td>
        <td class="align-middle"><%= animal.Cage %></td>
        <td class="align-middle"><%= animal.Animaltype.Name %></td>
        <td class="align-middle">
          <%
            let gender = "×"
            if (animal.Gender.Value()=="M") {
              gender = "♂"
            } else if (animal.Gender.Value() == "F") {
              gender = "♀"
            }
          %>
          <%= animal.Species %> (<%= gender %>)
        </td>
        <td class="align-middle"><%= animal.Animalage.Name %></td>
        <td class="align-middle"><%= animal.Ring %></td>   
        <td class="align-middle">
          <% 
              let stat = animal.Treatments.TodayStatitics()
              let morning = stat.Morning
              let noon = stat.Noon 
              let evening = stat.Evening
          %>
          <p style="white-space: nowrap;">
            <%= if (!morning.Valid) { %>                          
              <i class="fas fa-minus" title="Not required on the morning"></i>
            <% } else if (morning.Bool) {%>
              <span style="color:green;" title="Done on the morning">
                <%= contentOf("morningSVG") %>
              </span>
            <% } else { %>
              <span style="color:orange;" title="To do on the morning">
                <%= contentOf("morningSVG") %>
              </span>
            <% }%>
            
            &nbsp;

            <%= if (!noon.Valid) { %>
              <i class="fas fa-minus" title="Not required at noon"></i>
            <% } else if (noon.Bool) {%>
              <span style="color:green;" title="Done at noon">
                <%= contentOf("noonSVG") %>
              </span>
            <% } else { %>
              <span style="color:orange;" title="To do at noon">
                <%= contentOf("noonSVG") %>
              </span>
            <% }%>

            &nbsp;

            <%= if (!evening.Valid) { %>
              <i class="fas fa-minus" title="Not required on the evening"></i>
            <% } else if (evening.Bool) {%>
              <span style="color:green;" title="Done in the evening">
                <%= contentOf("eveningSVG") %>
              </span>
            <% } else { %>
              <span style="color:orange;" title="To do in the evening">
                <%= contentOf("eveningSVG") %>
              </span>
            <% }%>
          </p>
        </td>
        <td>
          <div class="float-right">
            <%= if (!animal.OuttakeID.Value() || current_user.Admin) {%>
            <%= linkTo(editAnimalPath({ animal_id: animal.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <% } %>
            <%= if (current_user.Admin) {%>
            <%= linkTo(animalPath({ animal_id: animal.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
