<%= f.InputTag("ID") %>
<%= f.InputTag("Country", {label:"Country"}) %>
<%= f.InputTag("Region", {label:"Region"}) %>
<%= f.InputTag("Province", {label:"Province"}) %>
<%= f.InputTag("Municipality", {label:"Municipality"}) %>
<%= f.CheckboxTag("SubMunicipality", {label:"Sub-municipality", unchecked: false}) %>
<%= f.InputTag("PostalCode", {label:"Postal code"}) %>
<%= f.InputTag("Locality", {label:"Locality"}) %>
<%= f.InputTag("Zoning", {label:"Zoning"}) %>
<%= f.InputTag("Direction", {label:"Direction"}) %>
<button class="btn btn-success" role="submit">Save</button>
