<%= f.InputTag("ID") %>
<%= f.InputTag("Country", {label:"Land"}) %>
<%= f.InputTag("Region", {label:"Regio"}) %>
<%= f.InputTag("Province", {label:"Provincie"}) %>
<%= f.InputTag("Municipality", {label:"Gemeente"}) %>
<%= f.CheckboxTag("SubMunicipality", {label:"Deelgemeente", unchecked: false}) %>
<%= f.InputTag("PostalCode", {label:"Postcode"}) %>
<%= f.InputTag("Locality", {label:"Plaats"}) %>
<%= f.InputTag("Zoning", {label:"Zonering"}) %>
<%= f.InputTag("Direction", {label:"Richting"}) %>
<button class="btn btn-success" role="submit">Opslaan</button>
