<div class="py-4 mb-2">
  <h3 class="d-inline-block">Localités</h3>
  <div class="float-end">
    <%= linkTo(newLocalitiesPath(), {class: "btn btn-primary"}) { %>
      Créer une nouvelle localité
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>ID</th><th>Pays</th><th> Région </th><th> province </th> <th> commune </th> <th> sous commune </th> <th> code postal </th> <th> localité </th> <th> zoning </th> <th> Direction </th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (locality) in localities { %>
      <tr>
        <td class="align-middle"><%= locality.ID %></td><td class="align-middle"><%= locality.Country %></td><td class="align-middle"><%= locality.Region %></td><td class="align-middle"><%= locality.Province %></td><td class="align-middle"><%= locality.Municipality %></td><td class="align-middle"><%= locality.SubMunicipality %></td><td class="align-middle"><%= locality.PostalCode %></td><td class="align-middle"><%= locality.Locality %></td><td class="align-middle"><%= locality.Zoning %></td><td class="align-middle"><%= locality.Direction %></td>
        <td>
          <div class="float-end">
            <%= linkTo(localityPath({ locality_id: locality.ID }), {class: "btn btn-info", title: "Voir", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editLocalityPath({ locality_id: locality.ID }), {class: "btn btn-warning", title: "Modifier", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(localityPath({ locality_id: locality.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Etes-vous sûr?", title: "Détruire", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
