<%= if (travel.AnimalID.Value() == 0 ) { %>
  <h4>Select animal linked to the travel</h4>
  <%= formFor(travel, {action: newTravelsPath(), method: "GET"}) { %>
    <div class="form-group row">
      <label for="animal_year_number" class="col-sm-2 col-form-label">Animal Number</label>
      <div class="col-sm-10">
        <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
          pattern="^[0-9]+(\/[0-9]{2})?$" 
          title="number should be in the format 123 or 123/22 (with 22 the 2 last digit of the year)"
        required>
        <script>
          $('input[name="animal_year_number"]').autoComplete({
              minChars: 0,
              source: function(term, response){
                  $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
              }
          });
        </script>
      </div>
    </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Next</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
  </div>
  <% } %>
<% } else { %>
<div class="py-4 mb-2">
  <h3 class="d-inline-block">New Travel for animal <%= travel.Animal.YearNumberFormatted() %></h3>
</div>

<%= formFor(travel, {action: travelsPath(), method: "POST"}) { %>
  <%= partial("travels/form.html") %>
  <%= linkTo(travelsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>

<% } %>