<%= f.InputTag("Name", {label:"Nom"}) %>
<%= f.TextAreaTag("Description", {rows: 10}) %>
<%= f.InputTag("Type", {label:"Type (1-alim, 2-déplacement...)"}) %>

<%= f.CheckboxTag("Def", {label:"Défaut", unchecked: false}) %>
<%= f.CheckboxTag("Warning", {label:"Avertissement", unchecked: false}) %>
<%= f.CheckboxTag("ResetWarning", {label:"Réinitialiser l'avertissement", unchecked: false}) %>
<button class="btn btn-success" role="submit">Sauvegarder</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
