<div class="py-4 mb-2">
  <h3 class="d-inline-block">Zorgtypedetails</h3>

  <div class="float-right">
    <%= linkTo(caretypesPath(), {class: "btn btn-info"}) { %>
      Terug naar alle zorgtypen
    <% } %>
    <%= linkTo(editCaretypePath({ caretype_id: caretype.ID }), {class: "btn btn-warning", title:"Edit", body: "<i class='fa fa-edit'></i>"}) %>
    <%= if (current_user.Admin) {%>
    <%= linkTo(caretypePath({ caretype_id: caretype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Weet u het zeker?", title:"Destroy", body: "<i class='fa fa-trash'></i>",  style:"width:44px"}) %>
    <% } %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Naam</label>
    <p class="d-inline-block"><%= tname("caretypes", caretype.ID, caretype.Name) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Beschrijving</label>
    <p class="d-inline-block"><%= tdesc("caretypes", caretype.ID, caretype.Description) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Standaard</label>
    <p class="d-inline-block"><%= bool2html(caretype.Def) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Waarschuwing</label>
    <p class="d-inline-block"><%= bool2html(caretype.Warning) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Waarschuwing resetten</label>
    <p class="d-inline-block"><%= bool2html(caretype.ResetWarning) %></p>
  </li>

</ul>
