<div class="py-4 mb-2">
  <h3 class="d-inline-block">Pflegetypdetails</h3>

  <div class="float-right">
    <%= linkTo(caretypesPath(), {class: "btn btn-info"}) { %>
      Zurück zu allen Pflegetypen
    <% } %>
    <%= linkTo(editCaretypePath({ caretype_id: caretype.ID }), {class: "btn btn-warning", title:"Edit", body: "<i class='fa fa-edit'></i>"}) %>
    <%= if (current_user.Admin) {%>
    <%= linkTo(caretypePath({ caretype_id: caretype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title:"Destroy", body: "<i class='fa fa-trash'></i>",  style:"width:44px"}) %>
    <% } %>
  </div>
</div>



<%= formFor(caretype, {action: "/caretypes/" + caretype.ID + "/remap", method: "POST", class: "mb-3"}) { %>
  <label for="replacement_id">Ersatz vor dem Löschen</label>
  <select id="replacement_id" name="replacement_id" class="form-control"><% for (replacement) in caretype_replacements { %><option value="<%= replacement.ID %>"><%= replacement.Name %></option><% } %></select>
  <button type="submit" class="btn btn-danger mt-2">Abhängigkeiten umleiten und löschen</button>
<% } %>
<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= tname("caretypes", caretype.ID, caretype.Name) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Beschreibung</label>
    <p class="d-inline-block"><%= tdesc("caretypes", caretype.ID, caretype.Description) %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Standard</label>
    <p class="d-inline-block"><%= bool2html(caretype.Def) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Warnung</label>
    <p class="d-inline-block"><%= bool2html(caretype.Warning) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Warnung zurücksetzen</label>
    <p class="d-inline-block"><%= bool2html(caretype.ResetWarning) %></p>
  </li>

</ul>
