<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Animals in care</h3>
      </div>
    </div>
    
<div class="container p-3 my-3 border">
<form id="goto_animal" action="<%=animalsPath()%>">
  <div class="form-row">
    <div class="col-5">
      &nbsp;
    </div>
    <div class="col-2">
      <label for="goto_animalNumber" class="col-sm-2 col-form-label">Animal&nbsp;number</label>
    </div>
    <div class="col-4">
      <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
        pattern="^[0-9]+(\/[0-9]{2})?$" 
        title="number should be in the format 123 or 123/22 (with 22 the 2 last digit of the year)"
      required>
      <script>
        $('input[id="animal_year_number"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Go</button>
    </div>
  </div>
</form>
</div>

<% 
    let am = animalsByType 
    let keys = am.OrderedKeys()
%>

<% contentFor("eveningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="32.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
<% } %>

<% contentFor("morningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="14.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
 <% } %>

 <% contentFor("noonSVG") { %>
        <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
    </g>
 <%}%>

<ul class="nav nav-tabs" id="landing-abt" role="tablist">
  <%= for (i, at) in keys {%>
  <li class="nav-item">
    <a class="nav-link <%= if (i==0) {%>active<%}%>" id="t-<%= at.ID %>-tab" data-toggle="tab" href="#t-<%= at.ID %>" role="tab" aria-controls="home" aria-selected="true"><%= at.Name %></a>
  </li>
  <% } %>
</ul>

<div class="tab-content" id="landing-abt-content">
  <%= for (i, at) in keys {%>
  <div class="tab-pane fade <%= if (i==0) {%>show active<%}%>" id="t-<%= at.ID %>" role="tabpanel" aria-labelledby="t-<%= at.ID %>-tab">
    <table class="table table-hover table-bordered"
      data-pagination="true"
      data-toggle="table"
      data-search="true"
      data-show-columns="false"
      data-locale="en-US"
      data-page-size="50"
      >

      <thead class="thead-light">
        <th data-sortable="true">Number</th>
        <th data-sortable="true">Intake date</th>
        <th data-sortable="true">Cage</th>
        <th data-sortable="true">Species</th>
        <th data-sortable="true">Age</th>
        <th data-sortable="true">Indentification</th>
        <th>Treatments</th>
        <th title="Force Feed">FF</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <%= for (animal) in am[at] { %>    
            <%= if (animalsWithCleanCage[animal.ID]) { %>
            <tr class="table-success">
            <% } else { %>
            <tr>
            <% } %>
            <td class="align-middle">
              <a class="btn btn-primary" href="/animals/<%= animal.ID %>"><%=animal.YearNumber%></a>
            </td>
            <td class="align-middle"><%= animal.Intake.DateFormated() %></td>
            <td class="align-middle"><%= animal.Cage %></td>
            <td class="align-middle">
            <%
              let gender = "×"
              if (animal.Gender.Value()=="M") {
                gender = "♂"
              } else if (animal.Gender.Value() == "F") {
                gender = "♀"
              }
            %>
            <%= animal.Species %> (<%= gender %>)
            </td>
            <td class="align-middle"><%= animal.Animalage.Name %></td>
            <td class="align-middle"><%= animal.Ring %></td>
            <td class="align-middle">
              <% 
                  let stat = animal.Treatments.TodayStatitics()
                  let morning = stat.Morning
                  let noon = stat.Noon 
                  let evening = stat.Evening
              %>
              <p style="white-space: nowrap;">
                <%= if (!morning.Valid) { %>                          
                  <i class="fas fa-minus" title="Not required on the morning"></i>
                <% } else if (morning.Bool) {%>
                  <span style="color:green;" title="Done on the morning">
                    <%= contentOf("morningSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="To do on the morning">
                    <%= contentOf("morningSVG") %>
                  </span>
                <% }%>
                
                &nbsp;

                <%= if (!noon.Valid) { %>
                  <i class="fas fa-minus" title="Not required at noon"></i>
                <% } else if (noon.Bool) {%>
                  <span style="color:green;" title="Done at noon">
                    <%= contentOf("noonSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="To do at noon">
                    <%= contentOf("noonSVG") %>
                  </span>
                <% }%>

                &nbsp;

                <%= if (!evening.Valid) { %>
                  <i class="fas fa-minus" title="Not required on the evening"></i>
                <% } else if (evening.Bool) {%>
                  <span style="color:green;" title="Done in the evening">
                    <%= contentOf("eveningSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="To do in the evening">
                    <%= contentOf("eveningSVG") %>
                  </span>
                <% }%>
              </p>
            </td>
            <td>
              <%= if (animal.ForceFeed) {%>
                <i class="fa fa-check"></i>
              <% } else { %>
                <i class="fa fa-times"></i> 
              <% } %>
            </td>
            <td>
              <div class="float-right">
                <%= if (!animal.OuttakeID.Value() || current_user.Admin) {%>
                <%= linkTo(editAnimalPath({ animal_id: animal.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
                <% } %>
                <%= if (current_user.Admin) {%>
                <%= linkTo(animalPath({ animal_id: animal.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
                <% } %>
              </div>
            </td>
            
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%}%>
</div>

</div>
</div>

<script>
$(".nav-tabs").find("a").first().click();

var url = document.URL;
var hash = url.substring(url.indexOf('#'));

$(".nav-tabs").find("a").each(function(key, val) {
  if (hash == $(val).attr('href')) {
    $(val).click();
  }
  $(val).click(function(ky, vl) {
    console.log($(this).attr('href'));
    location.hash = $(this).attr('href');
  });
});
</script>