<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Tiere in Pflege</h3>
      </div>
    </div>
    
<div class="container p-3 my-3 border">
<form id="goto_animal" action="<%=animalsPath()%>">
  <div class="form-row">
    <div class="col-5">
      <%= if (params["v"] == "type") { %>
        <a href="?v=zone"><span class="badge badge-info">Zone</span></a>
      <% } else { %>
        <a href="?v=type"><span class="badge badge-info">Typ</span></a>
      <% } %>
    </div>
    <div class="col-2">
      <label for="goto_animalNumber" class="col-sm-2 col-form-label">Tier&nbsp;nummer</label>
    </div>
    <div class="col-4">
      <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
        pattern="^[0-9]+(\/[0-9]{2})?$" 
        title="Nummer im Format 123 oder 123/22 (mit 22 den 2 letzten Ziffern des Jahres)"
      required>
      <script>
        $('input[id="animal_year_number"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Los</button>
    </div>
  </div>
</form>
</div>

<% contentFor("eveningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="32.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
<% } %>

<% contentFor("morningSVG") { %>
    <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
      <rect transform="rotate(-90)" x="-33.354" y="14.342" width="1" height="19" stroke-width="4.2742"/>
    </g>
 <% } %>

 <% contentFor("noonSVG") { %>
        <svg style="width: 16px; height: 16px;" viewBox="0 0 64 64">
    <g fill="none" stroke="currentColor">
      <circle cx="31.965" cy="31.965" r="29.622" stroke-width="4.6284"/>
      <rect x="32" y="8" width="1" height="25" stroke-width="4.9029"/>
    </g>
 <%}%>


  
<% 
    if (params["v"] == "type") {
      let am = animalsByType
    } else {
      let am = animalsByZone 
    }
    let keys = am.OrderedKeys()
%>




<ul class="nav nav-tabs" id="landing-abt" role="tablist">
  <%= for (i, at) in keys {%>
  <li class="nav-item">
    <a class="nav-link <%= if (i==0) {%>active<%}%>" id="t-<%= at.ID %>-tab" data-toggle="tab" href="#t-<%= at.ID %>" role="tab" aria-controls="home" aria-selected="true">
      <%= if (params["v"] != "type" && zoneMap[at.Name] == "external") {%>
        <i><%= at.Name %></i>
      <% } else { %>
        <%= at.Name %>
      <% } %>
    </a>
  </li>
  <% } %>
</ul>

<div class="tab-content" id="landing-abt-content">
  <%= for (i, at) in keys {%>
  <div class="tab-pane fade <%= if (i==0) {%>show active<%}%>" id="t-<%= at.ID %>" role="tabpanel" aria-labelledby="t-<%= at.ID %>-tab">
    <table class="table table-hover table-bordered"
      data-pagination="true"
      data-toggle="table"
      data-search="true"
      data-show-columns="false"
      data-locale="de-DE"
      data-page-size="50"
      >

      <thead class="thead-light">
        <th data-sortable="true">Nummer</th>
        <th data-sortable="true">Aufnahmedatum</th>
        <%= if (params["v"] == "type") { %>
        <th data-sortable="true">Zone</th>
        <% } else { %>
        <th data-sortable="true">Typ</th>
        <% } %>
        <th data-sortable="true">Käfig</th>
        <th data-sortable="true">Art</th>
        <th data-sortable="true">Alter</th>
        <th data-sortable="true">Kennzeichnung</th>
        <th>Behandlungen</th>
        <th title="Zwangsernährung">ZE</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <%= for (animal) in am[at] { %>    
            <%= if (animalsWithCleanCage[animal.ID]) { %>
            <tr class="table-success">
            <% } else { %>
            <tr>
            <% } %>
            <td class="align-middle">
              <a class="btn btn-primary" href="/animals/<%= animal.ID %>"><%=animal.YearNumber%></a>
            </td>
            <td class="align-middle"><%= animal.Intake.DateFormated() %></td>
            <%= if (params["v"] == "type") { %>
            <td class="align-middle">
              <%= if (params["v"] == "type" && zoneMap[ animal.Zone.String ] == "external") {%>
                <i><%= animal.Zone %></i>
              <% } else { %>
                <%= animal.Zone %>
              <% } %>
            </td>
            <% } else { %>
              <td class="align-middle"><%= tname("animaltypes", animal.Animaltype.ID, animal.Animaltype.Name) %></td>  
            <% } %>
            <td class="align-middle"><%= animal.Cage %></td>
            <td class="align-middle">
            <%
              let gender = "×"
              if (animal.Gender.Value()=="M") {
                gender = "♂"
              } else if (animal.Gender.Value() == "F") {
                gender = "♀"
              }
            %>
            <%= tspecies(animal.Species) %> (<%= gender %>)
            </td>
            <td class="align-middle"><%= tname("animalages", animal.Animalage.ID, animal.Animalage.Name) %></td>
            <td class="align-middle"><%= animal.Ring %></td>
            <td class="align-middle">
              <% 
                  let stat = animal.Treatments.TodayStatitics()
                  let morning = stat.Morning
                  let noon = stat.Noon 
                  let evening = stat.Evening
              %>
              <p style="white-space: nowrap;">
                <%= if (!morning.Valid) { %>                          
                  <i class="fas fa-minus" title="Morgens nicht erforderlich"></i>
                <% } else if (morning.Bool) {%>
                  <span style="color:green;" title="Morgens erledigt">
                    <%= contentOf("morningSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="Morgens zu erledigen">
                    <%= contentOf("morningSVG") %>
                  </span>
                <% }%>
                
                &nbsp;

                <%= if (!noon.Valid) { %>
                  <i class="fas fa-minus" title="Mittags nicht erforderlich"></i>
                <% } else if (noon.Bool) {%>
                  <span style="color:green;" title="Mittags erledigt">
                    <%= contentOf("noonSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="Mittags zu erledigen">
                    <%= contentOf("noonSVG") %>
                  </span>
                <% }%>

                &nbsp;

                <%= if (!evening.Valid) { %>
                  <i class="fas fa-minus" title="Abends nicht erforderlich"></i>
                <% } else if (evening.Bool) {%>
                  <span style="color:green;" title="Abends erledigt">
                    <%= contentOf("eveningSVG") %>
                  </span>
                <% } else { %>
                  <span style="color:orange;" title="Abends zu erledigen">
                    <%= contentOf("eveningSVG") %>
                  </span>
                <% }%>
              </p>
            </td>
            <td>
              <%= if (animal.ForceFeed) {%>
                <i class="fa fa-check"></i>
              <% } else { %>
                <i class="fa fa-times"></i> 
              <% } %>
            </td>
            <td>
              <div class="float-right">
                <%= if (!animal.OuttakeID.Value() || current_user.Admin) {%>
                <%= linkTo(editAnimalPath({ animal_id: animal.ID }), {class: "btn btn-warning", title: "Bearbeiten", body: "<i class='fa fa-edit'></i>"}) %>
                <% } %>
                <%= if (current_user.Admin) {%>
                <%= linkTo(animalPath({ animal_id: animal.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "löschen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
                <% } %>
              </div>
            </td>
            
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%}%>
</div>

</div>
</div>

<script>
$(".nav-tabs").find("a").first().click();

var url = document.URL;
var hash = url.substring(url.indexOf('#'));

$(".nav-tabs").find("a").each(function(key, val) {
  if (hash == $(val).attr('href')) {
    $(val).click();
  }
  $(val).click(function(ky, vl) {
    console.log($(this).attr('href'));
    location.hash = $(this).attr('href');
  });
});
</script>