<h3 class="d-inline-block">Cares in need of response</h3>
<%= if (len(openCares)>0) {%>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Date</th>
    <th>Animal</th>
    <th>Weight</th>
    <th>Note</th>
    <th><i class="fa fa-soap" aria-hidden="true"></i></th>
    <th>Type</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (care) in openCares { %>
      <tr class="
      <%= if (care.Type.Warning) {%>
        table-danger
      <% } else if (care.Type.ResetWarning) { %>
        table-success
      <% }%>
      ">
        <td class="align-middle"><%= care.DateFormated() %></td>
        <td class="align-middle"><%= care.AnimalID %></td>
        <td class="align-middle"><%= care.Weight %></td>
        <td class="align-middle"><%= care.Note %></td>
        <td class="align-middle">
          <%= if (care.Clean.Value()==true) { %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% } %>
        </td>
        <td class="align-middle"><%= care.Type.Name %></td>
        <td>
          <div class="float-right">
            <%= linkTo("/animals/"+care.AnimalID.String()+"#nav-care", {class: "btn btn-info", title: "View animal", body:"<i class='fa fa-eye'></i>"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
<%} else {%>
<p>None</p>
<%}%>
<br/>

<h3 class="d-inline-block">Last 24h logentries</h3>
<%= if (len(lastLogentries)>0) {%>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>CreatedAt</th>
    <th>UpdatedAt</th>
    <th>User</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (logentry) in lastLogentries { %>
      <tr>
        <td class="align-middle"><%= logentry.CreatedAt.Format("02/01/06 15:04:05") %></td>
        <td class="align-middle"><%= logentry.UpdatedAt.Format("02/01/06 15:04:05") %></td>
        <td class="align-middle"><%= logentry.User.Login %></td>
        <td class="align-middle" width="100%"><%= logentry.Description %></td>
        <td>
          <div class="float-right">
            <%= linkTo(logentryPath({ logentry_id: logentry.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
<%} else {%>
<p>None</p>
<%}%>

<br/>
<h3>Statistics</h3>
<h4 class="d-inline-block">Animals in cares</h4>
<table class="table table-sm">
<thead>
    <th>Type</th>
    <th>Count</th>
  </thead>
  <tbody>
  <%= for (ac) in animalCountPerType { %>
    <tr>
        <td class="align-middle"><%= ac.Name %></td>
        <td class="align-middle"><%= ac.Count %></td>
    </tr>
  <%}%>
    <tr class="table-info">
        <td class="align-middle">TOTAL</td>
        <td class="align-middle"><%= totalAnimalCount %></td>
    </tr>
  <%}%>
  </tbody>
</table>

  