<div class="py-4 mb-2">
  <h3 class="d-inline-block">Protokolleinträge</h3>
  <div class="float-right">
    <%= linkTo(newLogentriesPath(), {class: "btn btn-primary"}) { %>
      Neuen Protokolleintrag anlegen
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Erstellt am</th>
    <th>Aktualisiert am</th>
    <th>Benutzer</th>
    <th>Beschreibung</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (logentry) in logentries { %>
      <tr>
        <td class="align-middle"><%= logentry.CreatedAtFormated() %></td>
        <td class="align-middle"><%= logentry.UpdatedAtFormated() %></td>
        <td class="align-middle"><%= logentry.User.Login %></td>
        <td class="align-middle" width="100%"><%= logentry.Description %></td>
        <td>
          <div class="float-right">
            <%= linkTo(logentryPath({ logentry_id: logentry.ID }), {class: "btn btn-info", title: "Ansehen", body: "<i class='fa fa-eye'></i>"}) %>
            <%= if (current_user.Admin || current_user.ID.String() == logentry.UserID.String()) {%>
              <%= linkTo(editLogentryPath({ logentry_id: logentry.ID }), {class: "btn btn-warning", title: "Bearbeiten", body: "<i class='fa fa-edit'></i>"}) %>
              <%= linkTo(logentryPath({ logentry_id: logentry.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "Löschen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
