<div class="py-4 mb-2">
  <h3 class="d-inline-block">Journal de bord</h3>
  <div class="float-right">
    <%= linkTo(newLogentriesPath(), {class: "btn btn-primary"}) { %>
     Créer une nouvelle entrée dans le journal de bord
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Créé à </th>
    <th>Mis à jour à</th>
    <th>Utilisateur</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (logentry) in logentries { %>
      <tr>
        <td class="align-middle"><%= logentry.CreatedAt.Format("02/01/06 15:04:05") %></td>
        <td class="align-middle"><%= logentry.UpdatedAt.Format("02/01/06 15:04:05") %></td>
        <td class="align-middle"><%= logentry.User.Login %></td>
        <td class="align-middle" width="100%"><%= logentry.Description %></td>
        <td>
          <div class="float-right">
            <%= linkTo(logentryPath({ logentry_id: logentry.ID }), {class: "btn btn-info", title: "Voir", body: "<i class='fa fa-eye'></i>"}) %>
            <%= if (current_user.Admin || current_user.ID.String() == logentry.UserID.String()) {%>
              <%= linkTo(editLogentryPath({ logentry_id: logentry.ID }), {class: "btn btn-warning", title: "Éditer", body: "<i class='fa fa-edit'></i>"}) %>
              <%= linkTo(logentryPath({ logentry_id: logentry.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Êtes-vous sûr?", title: "Détruire", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
