<%= f.CheckboxTag("Approved", {label: t("users.approved"), unchecked: false}) %>

<div class="form-group">
  <label class="control-label" for="AccountRole"><%= t("users.account_role") %></label>
  <select name="AccountRole" id="AccountRole" class="form-control custom-select">
    <option value="" <%= if (userAccountRole(user) == "") { %>selected<% } %>><%= t("users.role.user") %></option>
    <option value="admin" <%= if (userAccountRole(user) == "admin") { %>selected<% } %>><%= t("users.role.admin") %></option>
    <%= if (current_user.Maintainer) { %>
    <option value="maintainer" <%= if (userAccountRole(user) == "maintainer") { %>selected<% } %>><%= t("users.role.maintainer") %></option>
    <% } %>
    <option value="shared" <%= if (userAccountRole(user) == "shared") { %>selected<% } %>><%= t("users.role.shared") %></option>
    <option value="lecteur" <%= if (userAccountRole(user) == "lecteur") { %>selected<% } %>><%= t("users.role.lecteur") %></option>
    <option value="scientifique" <%= if (userAccountRole(user) == "scientifique") { %>selected<% } %>><%= t("users.role.scientifique") %></option>
    <option value="spw" <%= if (userAccountRole(user) == "spw") { %>selected<% } %>><%= t("users.role.spw") %></option>
  </select>
  <small class="form-text text-muted"><%= t("users.account_role_help") %></small>
</div>

<strong><%= t("users.volunteer_roles") %></strong>
<%= f.CheckboxTag("FosterFamily", {label: t("users.foster_family"), unchecked: false}) %>
<%= f.CheckboxTag("Transporter", {label: t("users.transporter"), unchecked: false}) %>
<%= f.CheckboxTag("BoardMember", {label: t("users.board_member"), unchecked: false}) %>
<%= f.CheckboxTag("Committee", {label: t("users.committee"), unchecked: false}) %>
<%= f.CheckboxTag("Coordinator", {label: t("users.coordinator"), unchecked: false}) %>
<%= f.CheckboxTag("Veterinarian", {label: t("users.veterinarian"), unchecked: false}) %>
<%= f.CheckboxTag("Referent", {label: t("users.referent"), unchecked: false}) %>
<%= f.CheckboxTag("TeamLeader", {label: t("users.team_leader"), unchecked: false}) %>
<%= f.CheckboxTag("Caregiver", {label: t("users.caregiver"), unchecked: false}) %>
<%= f.CheckboxTag("CareAssistant", {label: t("users.care_assistant"), unchecked: false}) %>
<%= f.CheckboxTag("Helper", {label: t("users.helper"), unchecked: false}) %>
<%= f.TextAreaTag("Remark", {label: t("users.remark"), rows: 2}) %>
