<%= f.InputTag("Login") %>
<%= f.InputTag("FirstName", {label: "Voornaam"}) %>
<%= f.InputTag("LastName", {label: "Achternaam"}) %>
<%= f.InputTag("Address", {label: "Adres"}) %>
<%= f.InputTag("PostalCode", {label: "Postcode"}) %>
<%= f.InputTag("City", {label: "Stad"}) %>
<%= f.InputTag("Email", {label: "E-mail", type: "email"}) %>
<%= f.InputTag("Phone", {label: "Telefoon"}) %>
<%= f.InputTag("Password", {label:"Wachtwoord", type: "password"}) %>
<%= f.InputTag("PasswordConfirmation", {label:"Wachtwoordbevestiging", type: "password"}) %>
<%= if (current_user.Admin) { %>
  <%= partial("users/aform.plush.nl.html") %>
<% } %>
