<%= f.InputTag("Login") %>
<%= f.InputTag("FirstName", {label: "Vorname"}) %>
<%= f.InputTag("LastName", {label: "Nachname"}) %>
<%= f.InputTag("Address", {label: "Adresse"}) %>
<%= f.InputTag("PostalCode", {label: "Postleitzahl"}) %>
<%= f.InputTag("City", {label: "Stadt"}) %>
<%= f.InputTag("Email", {label: "E-Mail", type: "email"}) %>
<%= f.InputTag("Phone", {label: "Telefon"}) %>
<%= f.InputTag("Password", {label:"Passwort", type: "password"}) %>
<%= f.InputTag("PasswordConfirmation", {label:"Passwortbestätigung", type: "password"}) %>
<%= if (current_user.Admin) { %>
  <%= partial("users/aform.plush.de.html") %>
<% } %>
