<div class="py-4 mb-2">
  <h3 class="d-inline-block">Users</h3>
  <%= if (current_user.Admin) { %>
  <div class="float-right">
    <%= linkTo(newUsersPath(), {class: "btn btn-primary"}) { %>
      Create New User
    <% } %>
  </div>
  <% } %>
</div>

<form method="get" action="<%= usersPath() %>" class="form-inline mb-2">
  <input type="hidden" name="sort" value="<%= curSort %>">
  <input type="hidden" name="dir" value="<%= curDir %>">
  <input type="text" name="q" value="<%= searchQ %>" class="form-control mr-sm-2" placeholder="Search login, name, email, city…">
  <button type="submit" class="btn btn-outline-primary">Search</button>
  <%= if (searchQ != "") { %>
    <a class="btn btn-outline-secondary ml-1" href="<%= usersPath() %>">Clear</a>
  <% } %>
</form>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th><a class="text-body" href="<%= sortLink("name") %>">Name <%= sortIcon("name") %></a></th>
    <th><a class="text-body" href="<%= sortLink("login") %>">login <%= sortIcon("login") %></a></th>
    <th><a class="text-body" href="<%= sortLink("email") %>">Email <%= sortIcon("email") %></a></th>
    <th><a class="text-body" href="<%= sortLink("city") %>">City <%= sortIcon("city") %></a></th>
    <th>Role</th>
    <th>Approved</th>
    <th>Admin</th>
    <th>Shared</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (user) in users { %>
      <tr>
        <td class="align-middle"><%= user.DisplayName() %></td>
        <td class="align-middle"><%= user.Login %></td>
        <td class="align-middle"><%= user.Email %></td>
        <td class="align-middle"><%= user.City %></td>
        <td class="align-middle"><%= userRoleName(user.Role) %></td>
        <td class="align-middle text-center"><%= bool2html(user.Approved) %></td>
        <td class="align-middle text-center"><%= bool2html(user.Admin) %></td>
        <td class="align-middle text-center"><%= bool2html(user.Shared) %></td>
        <td>
          <div class="float-right">
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
            <%= if (current_user.Admin) { %>
            <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
