<div class="py-4 mb-2">
  <h3 class="d-inline-block">Zonen</h3>
  <div class="float-end">
    <%= linkTo(newZonesPath(), {class: "btn btn-primary"}) { %>
      Neue Zone erstellen
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Zone</th><th>Typ</th><th>Standard</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (zone) in zones { %>
      <tr>
        <td class="align-middle"><%= tname("zones", zone.ID, zone.Zone) %></td>
        <td class="align-middle">
          <%= if (zone.Type == "external") { %>
            extern zum Zentrum
          <% } else { %>
            intern zum Zentrum
          <% } %>
        </td>
        <td class="align-middle"><%= bool2html(zone.Default) %></td>
        <td>
          <div class="float-end">
            <%= linkTo(zonePath({ zone_id: zone.ID }), {class: "btn btn-info", title: "Ansehen", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editZonePath({ zone_id: zone.ID }), {class: "btn btn-warning", title: "Bearbeiten", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(zonePath({ zone_id: zone.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "Löschen", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
