<div class="py-4 mb-2">
  <h3 class="d-inline-block">Types d'issue</h3>
  <div class="float-right">
    <%= linkTo(newOuttaketypesPath(), {class: "btn btn-primary"}) { %>
      Créer un nouveau type d'issue
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Code OT</th>
    <th>Nom</th>
    <th>description</th>
    <th>News pour le découvreur</th>
    <th>Défaut</th>
    <th>Cadavre</th>
    <th>Erreur</th>
    <th>Issue</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (outtaketype) in outtaketypes { %>
      <tr>
        <td class="align-middle"><%= outtaketype.Code.String %></td>
        <td class="align-middle"><%= tname("outtaketypes", outtaketype.ID, outtaketype.Name) %></td>
        <td class="align-middle"><%= tdesc("outtaketypes", outtaketype.ID, outtaketype.Description) %></td>
        <td class="align-middle"><%= tfield("outtaketypes", "discoverer_news", outtaketype.ID, outtaketype.DiscovererNews) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Default) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Dead) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Error) %></td>
        <td class="align-middle">
          <%= if (outtaketype.Rating < 0) { %>
            Négative
          <% } else if (outtaketype.Rating > 0) { %>
            Positive
          <% } else { %>
            Neutre
          <% } %>
        </td>
        <td>
          <div class="float-right">
            <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-info", title: "Voir", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Éditer", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo("/outtaketypes/" + outtaketype.ID + "/delete", {class: "btn btn-danger", title: "Détruire", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
