<div class="py-4 mb-2">
  <h3 class="d-inline-block">Uitgangstypen</h3>
  <div class="float-right">
    <%= linkTo(newOuttaketypesPath(), {class: "btn btn-primary"}) { %>
      Nieuw uitgangstype aanmaken
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Naam</th>
    <th>Beschrijving</th>
    <th>Nieuws voor ontdekker</th>
    <th>Standaard</th>
    <th>Dood</th>
    <th>Fout</th>
    <th>Type</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (outtaketype) in outtaketypes { %>
      <tr>
        <td class="align-middle"><%= tname("outtaketypes", outtaketype.ID, outtaketype.Name) %></td>
        <td class="align-middle"><%= tdesc("outtaketypes", outtaketype.ID, outtaketype.Description) %></td>
        <td class="align-middle"><%= tfield("outtaketypes", "discoverer_news", outtaketype.ID, outtaketype.DiscovererNews) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Default) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Dead) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Error) %></td>
        <td class="align-middle">
          <%= if (outtaketype.Rating < 0) { %>
            Negatief
          <% } else if (outtaketype.Rating > 0) { %>
            Positief
          <% } else { %>
            Neutraal
          <% } %>
        </td>
        <td>
          <div class="float-right">
            <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-info", title: "Bekijken", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Bewerken", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Weet u het zeker?", title: "Verwijderen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
