<div class="py-4 mb-2">
  <h3 class="d-inline-block">Outcome types</h3>
  <div class="float-right">
    <%= linkTo(newOuttaketypesPath(), {class: "btn btn-primary"}) { %>
      Create New Outcome type
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>Description</th>
    <th>News for discoverer</th>
    <th>Default</th>
    <th>Dead</th>
    <th>Error</th>
    <th>Outcome</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (outtaketype) in outtaketypes { %>
      <tr>
        <td class="align-middle"><%= tname("outtaketypes", outtaketype.ID, outtaketype.Name) %></td>
        <td class="align-middle"><%= tdesc("outtaketypes", outtaketype.ID, outtaketype.Description) %></td>
        <td class="align-middle"><%= tfield("outtaketypes", "discoverer_news", outtaketype.ID, outtaketype.DiscovererNews) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Default) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Dead) %></td>
        <td class="align-middle"><%= bool2html(outtaketype.Error) %></td>
        <td class="align-middle">
          <%= if (outtaketype.Rating < 0) { %>
            Negative
          <% } else if (outtaketype.Rating > 0) { %>
            Positive
          <% } else { %>
            Neutral
          <% } %>
        </td>
        <td>
          <div class="float-right">
            <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <%= linkTo("/outtaketypes/" + outtaketype.ID + "/delete", {class: "btn btn-danger", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
