<div class="py-4 mb-2">
  <h3 class="d-inline-block">Details d'un type de sortie</h3>

  <div class="float-right">
    <%= linkTo(outtaketypesPath(), {class: "btn btn-info"}) { %>
      Retour à tous les types de sorties
    <% } %>
    <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Éditer", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Êtes-vous sûr?", title: "Détruire", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Nom</label>
    <p class="d-inline-block"><%= outtaketype.Name %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= outtaketype.Description %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Défaut</label>
    <p class="d-inline-block"><%= outtaketype.Default %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Cadavre</label>
    <p class="d-inline-block"><%= outtaketype.Dead %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Type</label>
    <p>
      <%= if (outtaketype.Rating < 0) { %>
        Négative
      <% } else if (outtaketype.Rating > 0) { %>
        Positive
      <% } else { %>
        Neutre
      <% } %>
    </p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Nouvelles découvreur</label>
    <p class="d-inline-block"><%= outtaketype.DiscovererNews %></p>
  </li>

</ul>
