<div class="py-4 mb-2">
  <h3 class="d-inline-block">Outtaketype Details</h3>

  <div class="float-right">
    <%= linkTo(outtaketypesPath(), {class: "btn btn-info"}) { %>
      Back to all Outtaketypes
    <% } %>
    <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo(outtaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= outtaketype.Name %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= outtaketype.Description %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Default</label>
    <p class="d-inline-block"><%= outtaketype.Default %></p>
  </li>

</ul>
