<div class="py-4 mb-2">
  <h3 class="d-inline-block">Aflooptypedetails</h3>

  <div class="float-right">
    <%= linkTo(outtaketypesPath(), {class: "btn btn-info"}) { %>
      Terug naar alle aflooptypen
    <% } %>
    <%= linkTo(editOuttaketypePath({ outtaketype_id: outtaketype.ID }), {class: "btn btn-warning", title: "Bewerken", body: "<i class='fa fa-edit'></i>"}) %>
    <%= linkTo("/outtaketypes/" + outtaketype.ID + "/delete", {class: "btn btn-danger", title: "Verwijderen", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">OT-code</label>
    <p class="d-inline-block"><%= outtaketype.Code.String %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Naam</label>
    <p class="d-inline-block"><%= tname("outtaketypes", outtaketype.ID, outtaketype.Name) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Beschrijving</label>
    <p class="d-inline-block"><%= tdesc("outtaketypes", outtaketype.ID, outtaketype.Description) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Standaard</label>
    <p class="d-inline-block"><%= bool2html(outtaketype.Default) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Dood</label>
    <p class="d-inline-block"><%= bool2html(outtaketype.Dead) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Fout</label>
    <p class="d-inline-block"><%= bool2html(outtaketype.Error) %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="small d-block">Type</label>
    <p>
      <%= if (outtaketype.Rating < 0) { %>
        Negatief
      <% } else if (outtaketype.Rating > 0) { %>
        Positief
      <% } else { %>
        Neutraal
      <% } %>
    </p>
  </li>

  <li class="list-group-item pb-1">
  <p class="d-inline-block"><%= tfield("outtaketypes", "discoverer_news", outtaketype.ID, outtaketype.DiscovererNews) %></p>
    <label class="small d-block">Nieuwtje voor vinder</label>
  </li>

</ul>