<%= f.InputTag("AnimalID", {type:"hidden"})%>

<label>Date</label>
<div class="input-group md-12">
    <input class=" form-control" id="vvDate" name="Veterinaryvisit.Date" required="required" type="text" value="<%= veterinaryvisit.DateFormated() %>">
    <div class="input-group-append">
        <div class="input-group-text">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#vvDate').datetimepicker({format:'Y/m/d H:i'});
</script>

<%= f.SelectTag("UserID", {
    label: "User",
    options: selectUsers, 
    required:"required"}) %>
<%= f.InputTag("Veterinary")%>
<%= f.TextAreaTag("Diagnostic", {rows: 10}) %>
<button class="btn btn-success" role="submit">Save</button>
