<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit Veterinary visit for animal <%= veterinaryvisit.AnimalID %></h3>
</div>

<%= if (params["back"]) {%>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID, back: params["back"] }), method: "PUT"}) { %>
    <%= partial("veterinaryvisits/form.html") %>
    <%= linkTo(params["back"], {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } else { %>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), method: "PUT"}) { %>
    <%= partial("veterinaryvisits/form.html") %>
    <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } %>
