<div class="py-4 mb-2">
  <h3 class="d-inline-block">Tierarztbesuche</h3>
  <div class="float-right">
    <%= linkTo(newVeterinaryvisitsPath(), {class: "btn btn-primary"}) { %>
      Neuen Tierarztbesuch erstellen
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Datum</th>
    <th>Tierarzt</th>
    <th>Benutzer</th>
    <th>Tier-ID</th>
    <th>Diagnose</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (veterinaryvisit) in veterinaryvisits { %>
      <tr>
        <td class="align-middle"><%= veterinaryvisit.DateFormated() %></td>
        <td class="align-middle"><%= veterinaryvisit.Veterinary %></td>
        <td class="align-middle"><%= veterinaryvisit.User.Login %></td>
        <td class="align-middle">
          <a class="btn btn-primary" href="/animals/<%= veterinaryvisit.AnimalID %>/#nav-vet"><%= veterinaryvisit.Animal.YearNumberFormatted() %></a>
        </td>
        <td class="align-middle"><%= veterinaryvisit.Diagnostic %></td>
        <td>
          <div class="float-right">
            <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-info", title: "Ansehen", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editVeterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-warning", title: "Bearbeiten", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Sind Sie sicher?", title: "Löschen", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
