<div class="py-4 mb-2">
  <h3 class="d-inline-block">Veterinary visits</h3>
  <div class="float-right">
    <%= linkTo(newVeterinaryvisitsPath(), {class: "btn btn-primary"}) { %>
      Create New Veterinary visit
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Date</th>
    <th>Veterinary</th>
    <th>User</th>
    <th>Animal ID</th>
    <th>Diagnostic</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (veterinaryvisit) in veterinaryvisits { %>
      <tr>
        <td class="align-middle"><%= veterinaryvisit.DateFormated() %></td>
        <td class="align-middle"><%= veterinaryvisit.Veterinary %></td>
        <td class="align-middle"><%= veterinaryvisit.User.Email %></td>
        <td class="align-middle"><%= veterinaryvisit.AnimalID %></td>
        <td class="align-middle"><%= veterinaryvisit.Diagnostic %></td>
        <td>
          <div class="float-right">
            <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-info", title: "View", body:"<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editVeterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-warning", title: "Edit", body:"<i class='fa fa-edit'></i>"}) %>
            <%= linkTo(veterinaryvisitPath({ veterinaryvisit_id: veterinaryvisit.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body:"<i class='fa fa-trash'></i>", style:"width:44px"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
