<%= if (veterinaryvisit.AnimalID.Value() == 0 ) { %>
  <h4>Select animal for veterinary visit</h4>
  <%= formFor(veterinaryvisit, {action: newVeterinaryvisitsPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animalID" class="col-sm-2 col-form-label">Animal ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="animal_id" name="animal_id" placeholder="123" required>
      <script>
        $('input[name="animal_id"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Next</button>
  </div>
  <% } %>
<% } else { %>

<div class="py-4 mb-2">
  <h3 class="d-inline-block">New Veterinary visit for animal <%= veterinaryvisit.AnimalID %></h3>
</div>

<%= if (params["back"]) {%>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitsPath({back: params["back"]}), method: "POST"}) { %>
  <%= partial("veterinaryvisits/form.html") %>
  <%= linkTo(params["back"], {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } else { %>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitsPath(), method: "POST"}) { %>
  <%= partial("veterinaryvisits/form.html") %>
  <%= linkTo(veterinaryvisitsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } %>
