<%= if (veterinaryvisit.AnimalID.Value() == 0 ) { %>
  <div class="py-4 mb-2">
    <div class="float-right">
    <%= linkTo(veterinaryvisitsPath(), {class: "btn btn-info"}) { %>
          See all veterinary visits
    <% } %>
    </div>
  </div>
  <h4>Select animal for veterinary visit</h4>
  <%= formFor(veterinaryvisit, {action: newVeterinaryvisitsPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animal_year_number" class="col-sm-2 col-form-label">Animal Number</label>
    <div class="col-sm-10">
      <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
        pattern="^[0-9]+(\/[0-9]{2})?$" 
        title="number should be in the format 123 or 123/22 (with 22 the 2 last digit of the year)"
      required>
      <script>
        $('input[name="animal_year_number"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Next</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
  </div>
  <% } %>
<% } else { %>

<div class="py-4 mb-2">
  <h3 class="d-inline-block">New Veterinary visit for animal <%= veterinaryvisit.Animal.YearNumberFormatted() %> </h3>
</div>

<%= if (params["back"]) {%>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitsPath({back: params["back"]}), method: "POST"}) { %>
  <%= partial("veterinaryvisits/form.html") %>
  <%= linkTo(params["back"], {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } else { %>
  <%= formFor(veterinaryvisit, {action: veterinaryvisitsPath(), method: "POST"}) { %>
  <%= partial("veterinaryvisits/form.html") %>
  <%= linkTo(veterinaryvisitsPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
<% } %>
