<div class="py-4 mb-2">
  <h3 class="d-inline-block">Outtakes</h3>
  <div class="float-right">
    <%= linkTo(newOuttakesPath(), {class: "btn btn-primary"}) { %>
      Create New Outtake
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Date</th><th>Type</th><th>Location</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (outtake) in outtakes { %>
      <tr>
        <td class="align-middle"><%= outtake.Date %></td>
        <td class="align-middle"><%= outtake.Type.Name %>
        <td class="align-middle"><%= outtake.Location %></td>
        <td>
          <div class="float-right">
            <%= linkTo(outtakePath({ outtake_id: outtake.ID }), {class: "btn btn-info", title: "View", body: "<i class='fa fa-eye'></i>"}) %>
            <%= linkTo(editOuttakePath({ outtake_id: outtake.ID }), {class: "btn btn-warning", title: "Edit", body: "<i class='fa fa-edit'></i>"}) %>
            <%= if (current_user.Admin) {%>
            <%= linkTo(outtakePath({ outtake_id: outtake.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", title: "Destroy", body: "<i class='fa fa-trash'></i>", style:"width:44px"}) %>
            <% }%>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
