<%= if (!animal) { %>
  <div class="py-4 mb-2">
    <div class="float-right">
    <%= linkTo(outtakesPath(), {class: "btn btn-info"}) { %>
          Voir toutes les sorties
    <% } %>
    </div>
  </div>
  <h4>Sélectionnez l'animal pour la sortie</h4>
  <%= formFor(outtake, {action: newOuttakesPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animalID" class="col-sm-2 col-form-label">Numéro de l'animal</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="animal_id" name="animal_id" placeholder="123" required>
      <script>
        $('input[name="animal_id"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Suivant</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
  </div>
  <% } %>
<% } else { %>
  <div class="py-4 mb-2">
  <h3 class="d-inline-block">Sortie de l'animal <%=animal.YearNumber%></h3>
  <p><%= animal.Species %> (<%= animal.Animaltype.Name %>) - Arrivé le <%= animal.Intake.DateFormated() %></p>
  </div>
  
  <%= formFor(outtake, {action: outtakesPath(), method: "POST"}) { %>
  <input type="hidden" name="animal_id" value="<%= animal.ID %>" />
  <%= if (animal.Animaltype.HasRing) {%>
  <div class="form-group">
    <label>Identification</label>
    <input required="required" class=" form-control" id="animal_ring" name="animal_ring" type="text" value="<%= animal.Ring %>">
  </div>
  <% } %>
  <%= partial("outtakes/form.plush.fr.html") %>
  <%= linkTo(outtakesPath(), {class: "btn btn-warning", "data-confirm": "Êtes-vous sûr?", body: "Annuler"}) %>
<% } %>
<% } %>

