<%= if (!animal) { %>
  <div class="py-4 mb-2">
    <div class="float-right">
    <%= linkTo(outtakesPath(), {class: "btn btn-info"}) { %>
          See all outtakes
    <% } %>
    </div>
  </div>
  <h4>Select animal for outtake</h4>
  <%= formFor(outtake, {action: newOuttakesPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animal_year_number" class="col-sm-2 col-form-label">Animal Number</label>
    <div class="col-sm-10">
      <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
        pattern="^[0-9]+(\/[0-9]{2})?$" 
        title="number should be in the format 123 or 123/22 (with 22 the 2 last digit of the year)"
      required>
      <script>
        $('input[name="animal_year_number"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Next</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
  </div>
  <% } %>
<% } else { %>
  <div class="py-4 mb-2">
  <h3 class="d-inline-block"> Outtake of animal <%= animal.YearNumberFormatted() %></h3>
  <p><%= animal.Species %> (<%= animal.Animaltype.Name %>) - Arrived: <%= animal.Intake.DateFormated() %></p>
  </div>
  
  <%= formFor(outtake, {action: outtakesPath(), method: "POST"}) { %>
  <input type="hidden" name="animal_id" value="<%= animal.ID %>" />
  <%= if (animal.Animaltype.HasRing) {%>
  <div class="form-group">
    <label>Indentification</label>
    <input required="required" class="form-control" id="animal_ring" name="animal_ring" type="text" value="<%= animal.Ring %>">
  </div>
  <% } %>
  <%= partial("outtakes/form.html") %>
  <%= linkTo(outtakesPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
<% } %>

