<%= if (!animal) { %>
  <div class="py-4 mb-2">
    <div class="float-right">
    <%= linkTo(outtakesPath(), {class: "btn btn-info"}) { %>
          See all outtakes
    <% } %>
    </div>
  </div>
  <h4>Select animal for outtake</h4>
  <%= formFor(outtake, {action: newOuttakesPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animalID" class="col-sm-2 col-form-label">Animal ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="animal_id" name="animal_id" placeholder="123" required>
      <script>
        $('input[name="animal_id"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Next</button>
  </div>
  <% } %>
<% } else { %>
  <div class="py-4 mb-2">
  <h3 class="d-inline-block"> Outtake of animal <%= animal.ID %></h3>
  <p><%= animal.Species %> (<%= animal.Animaltype.Name %>) - Arrived: <%= animal.Intake.DateFormated() %></p>
  </div>
  
  <%= formFor(outtake, {action: outtakesPath(), method: "POST"}) { %>
  <input type="hidden" name="animal_id" value="<%= animal.ID %>" />
  <div class="form-group">
    <label>Ring</label>
    <input class=" form-control" id="animal_ring" name="animal_ring" type="text" value="<%= animal.Ring %>">
  </div>
  <%= partial("outtakes/form.html") %>
  <%= linkTo(outtakesPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
<% } %>

