<div class="py-4 mb-2">
  <h3 class="d-inline-block">Drug Details</h3>

  <div class="float-right">
    <%= linkTo(drugsPath(), {class: "btn btn-info"}) { %>
      Back to all Drugs
    <% } %>
    <%= linkTo(editDrugPath({ drug_id: drug.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(drugPath({ drug_id: drug.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= drug.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= drug.Description %></p>
  </li>


</ul>
