<div class="container p-3 my-3 border">
    <h4>General</h4>  
    <div class="form-row">
    <%= f.InputTag("Location", {bootstrap:{form-group-class:"form-group col-md-12"}}) %>
    <script>
        $('input[name="Location"]').autoComplete({
            minChars: 1,
            source: function(term, response){
                $.getJSON('/suggestions/discovery_location', { q: term }, function(data){ response(data); });
            }
        });
    </script>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12">
    <label>Date</label>
    <%= f.DateTimeTag("Date", {class:"form-control", format:"2006/01/02 15:04"}) %>
    </div>
    <script type="text/javascript">
    $('#discovery-Date').flatpickr({time_24hr:true, enableTime: true, dateFormat:'Y/m/d H:i'});
    </script>
    </div>
</div>
<div class="container p-3 my-3 border">
    <h4>Discoverer</h4>
  
    <div class="form-row">  
    <%= f.InputTag("Discoverer.Firstname", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"First Name"}) %>
    <%= f.InputTag("Discoverer.Lastname", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Last Name"}) %>
    </div>
    <div class="form-row">
    <%= f.InputTag("Discoverer.Address", {bootstrap:{form-group-class:"form-group col-md-12"}, label:"Address"}) %>
    </div>
    <div class="form-row">
    <%= f.InputTag("Discoverer.City", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"City"}) %>
    <%= f.InputTag("Discoverer.Country", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Country"}) %>
    </div>
    <div class="form-row">
    <%= f.InputTag("Discoverer.Email", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Login"}) %>
    <%= f.InputTag("Discoverer.Phone", {bootstrap:{form-group-class:"form-group col-md-6"}, label:"Phone"}) %>
    </div>
</div>
<div class="container p-3 my-3 border">
    <h4>Details</h4> 
    <%= f.TextAreaTag("Reason", {rows: 10, class:"col-md-12"}) %>
    <a class="btn btn-primary" data-toggle="collapse" href="#DiscoveryNote" role="button" aria-expanded="false" aria-controls="collapseExample">
    Notes
    </a>
    <div class="collapse" id="DiscoveryNote">
        <div class="card card-body">
            <textarea class="form-control col-md-12" id="discovery-Note" name="Note" rows="10"></textarea>
        </div>
    </div>
</div>
<button class="btn btn-success" role="submit">Save</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
