<div class="container p-3 my-3 border">
    <h4>General</h4>  
    <%= f.InputTag("Location") %>
    <%= f.InputTag("Date") %>
    <script type="text/javascript">
    $('#discovery-Date').datetimepicker({});
    </script>
</div>
<div class="container p-3 my-3 border">
    <h4>Discoverer</h4>  
    <%= f.InputTag("Discoverer.Firstname", {label:"First Name"}) %>
    <%= f.InputTag("Discoverer.Lastname", {label:"Last Name"}) %>
    <%= f.InputTag("Discoverer.Address", {label:"Address"}) %>
    <%= f.InputTag("Discoverer.City", {label:"City"}) %>
    <%= f.InputTag("Discoverer.Country", {label:"Country"}) %>
    <%= f.InputTag("Discoverer.Email", {label:"Email"}) %>
    <%= f.InputTag("Discoverer.Phone", {label:"Phone"}) %>
</div>
<div class="container p-3 my-3 border">
    <h4>Details</h4> 
    <%= f.TextAreaTag("Reason", {rows: 10}) %>
    <a class="btn btn-primary" data-toggle="collapse" href="#DiscoveryNote" role="button" aria-expanded="false" aria-controls="collapseExample">
    Notes
    </a>
    <div class="collapse" id="DiscoveryNote">
        <div class="card card-body">
        <textarea class="form-control" id="discovery-Note" name="Note" rows="10"></textarea>
        </div>
    </div>
</div>
<button class="btn btn-success" role="submit">Save</button>
