<%= if (!params["cage"] && !params["animal_year_number"]) { %>
  <div class="py-4 mb-2">
    <div class="float-right">
    <%= linkTo(caresPath(), {class: "btn btn-info"}) { %>
          Voir tous les suivis
    <% } %>
    </div>
  </div>

  <h4>Sélectionnez un animal pour le suivi</h4>
  <%= formFor(care, {action: newCaresPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animal_year_number" class="col-sm-2 col-form-label">Numéro de l'animal</label>
    <div class="col-sm-10">
      <input name="animal_year_number" type="text" class="form-control" id="animal_year_number" placeholder="123" 
        pattern="^[0-9]+(\/[0-9]{2})?$" 
        title="Le numéro doit être dans le format 123 ou 123/22 (avec 22 les 2 derniers chiffres de l'année)"
      required>
      <script>
        $('input[name="animal_year_number"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/animal_in_care', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Suivant</button>
<script type="text/javascript">
$( document ).ready(function(){
    window.submitfix();
})
</script>
  </div>
  <% } %>

  <h4>Choix de la cage pour le suivi</h4>
  <%= formFor(care, {action: newCaresPath(), method: "GET"}) { %>
  <div class="form-group row">
    <label for="animal_year_number" class="col-sm-2 col-form-label">Cage</label>
    <div class="col-sm-10">
      <input name="cage" type="text" class="form-control" id="cage" placeholder=""
          required>
      <script>
        $('input[name="cage"]').autoComplete({
            minChars: 0,
            source: function(term, response){
                $.getJSON('/suggestions/CageWithAnimalInCare', { q: term }, function(data){ response(data); });
            }
        });
      </script>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-success" role="submit">Suivant</button>
      <script type="text/javascript">
      $( document ).ready(function(){
          window.submitfix();
      })
      </script>
  </div>
  <% } %>



<% } else { %>
  <% 
    let cage = ""
    if (params["cage"]) {
      cage = params["cage"]
    }
  %>

  <!-- Form select-->
  <div class="py-4 mb-2">
    <%= if (params["cage"]) { %>
      <h3 class="d-inline-block">Nouveau suivi pour la cage <i><%= cage %></i></h3>
    <% } else { %>
      <h3 class="d-inline-block">Nouveau suivi pour l'animal <%= care.Animal.YearNumberFormatted() %></h3>
    <% } %>
  </div>

<%= if (params["back"]) { %>
  <%= formFor(care, {action: caresPath({back:params["back"],cage:cage}), method: "POST"}) { %>
    <%= partial("cares/form.plush.fr.html") %>
    <%= linkTo(params["back"], {class: "btn btn-warning", "data-confirm": "Êtes-vous sûr?", body: "Annuler"}) %>
  <% } %>
<% } else {%>
  <%= formFor(care, {action: caresPath({cage:cage}), method: "POST"}) { %>
    <%= partial("cares/form.plush.fr.html") %>
    <%= linkTo(caresPath(), {class: "btn btn-warning", "data-confirm": "Êtes-vous sûr?", body: "Annuler"}) %>
  <% }%>
<% } %>

<% } %>
